{% extends "base.html" %} 
{% block content %}
 <title>多序列比对（Multiple sequence alignment）</title>
<script>
    $(function(){
        // 添加选项
        $("#opbtn").click(function(){
            if($("#opts>li").size() < 6){// 最多添加6个选项
                $("#opts").append("<li><input /></li>");
            }else{// 提示选项个数已经达到最大
                $("#optips").html("选项个数已经达到最大,不能再添加!");
                $("#optips").css({"color":"red"});
            }
            
        });
        
        // 删除选项
        $("#delbtn").click(function(){
            if($("#opts>li").size() <= 0){
                $("#optips").html("已经没有选项可以删除了!");
                $("#optips").css({"color":"red"});
            } else{
                // 删除选项,每次删除最后一个
                $("#opts>li").last().remove();
            }
            
        });
        
        
        
    });
 
</script>
<style>
    *{
        margin: 0px;
        padding: 0px;
    }
    
    #dv{
        width: 100px;
        height: 100px;
        background-color: yellow;
        margin: 0px auto 0px;
    }
    
</style>

<div class="panel panel-info" >
<div class="panel-heading">
<b>多序列比对（Multiple sequence alignment）</b>
</div>

<div class="container" style="padding:20px;height:auto;">
<form action="http://{{local}}/multiseqalign/" method="POST" role="form">{% csrf_token %}
<label>Alignment序列1</label>
<textarea id="textarea" name="seqtxt" class="form-control" >

</textarea>
<label>Alignment序列2</label>
<textarea id="textarea" name="seqtxt" class="form-control" >

</textarea>
<br/>
<div style="margin: 50px;">
        <input id="opbtn" type="button" value="添加选项"/>
        <input id="delbtn" type="button" value="删除选项"/>
        <input id="wrapbtn" type="button" value="包围DIV"/>
        <ol id="opts" type="A"></ol>
        
        <!-- 提示语 -->
        <span id="optips"></span>
    </div>

<button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon glyphicon-step-forward"></span>提交比对</button>
</form>
</div>

</div>
{% endblock %}