{% extends "base.html" %}     
{% block content %}  
 <style type="text/css">  
    #content{width:100%;height:auto;margin-top:2px;float:left;margin-right:-240px;} 
    #content_inner{height:auto;margin-left:190px;margin-right:245px;border-left:1px solid #B9D3EE;border-right:1px solid #B9D3EE;border-bottom:1px solid #B9D3EE;}   
    #post-list{font-size:14px;padding:5px;}
    #post-list ul{list-style-type: none;margin:0px;padding:0px;} 
    div#post-list span .view-count {margin-left:10px;color:#808080;float:right}
    div#post-list ul li a {float:left;color:#000;margin-right:20px; background:none;}
    div#post-list ul li a:hover{ background:#999;outline: thin dotted #333;}
    div#post-list ul li a:active{color:#ff0000;} 
    div#post-list ul li a:link{ color::#453; }
    div#post-list ul li {border-bottom: 1px dotted #FCC;display: block;line-height: 2em;}
    #side{width:230px;height:auto;float:right;border:none;}
    #leftbar{width:180px;height:auto;float:left;border:none;}
    #about{margin-bottom:5px;width:170px;border-left:1px solid #B9D3EE;border-right:1px solid #B9D3EE;border-bottom:1px solid #B9D3EE;}
    #about img{padding:5px; width:135px; height:135px; }
    .about-me {text-align:center;padding-top:5px;}
    .about-me ul {text-align:right;margin:0;list-style-type: none;}
    .about-me ul li{padding-right:5px;}
    div#leftbar ul{font-size:13px; list-style-type:none; margin:0px;padding:0px; }
    div#leftbar ul h3{display:block;background:#B9D3EE;color:#fff;padding:5px;}
    .clear{clear:both} 
    #hotarticle{width:230px;margin:0px;border-left:1px solid #B9D3EE;border-right:1px solid #B9D3EE;border-bottom:1px solid #B9D3EE;}
    div#hotarticle ul{font-size:13px; list-style-type:none; margin:0px;padding:5px;}
    div#hotarticle ul h3{display:block;background:#B9D3EE;color:#fff;padding:5px;}
    div#hotarticle ul li{ border-bottom: 1px dotted #FCC;font-size:13px;margin-top:5px;padding:0px;}
    div#hotarticle ul li a{ display:block; width:100%; color:#000; background:none; }
    div#hotarticle ul li a:hover{ background:#999; }
    div#hotarticle ul li a:active{color:#ff0000;} 
    div#hotarticle ul li a:link{ color::#453; }
    #newarticle{width:230px;margin:0px;border-left:1px solid #B9D3EE;border-right:1px solid #B9D3EE;border-bottom:1px solid #B9D3EE;margin-top:5px;margin-bottom:3px;}
    div#newarticle ul{font-size:13px; list-style-type:none; margin:0px;padding:5px; }
    div#newarticle ul h3{display:block;background:#B9D3EE;color:#fff;padding:5px;}
    div#newarticle ul li{ border-bottom: 1px dotted #FCC;font-size:13px;margin-top:5px;padding:0px;}
    div#newarticle ul li a{ display:block; width:100%; color:#000; background:none;}
    div#newarticle ul li a:hover{ background:#999; }
    div#newarticle ul li a:active{color:#ff0000;} 
    div#newarticle ul li a:link{ color::#453; }
    #fenye{width:100%;border:none;font-size:12px;padding:3px;}
    p {font-size:14px;font-famliy:"幼圆";}
    p .reply{font-size:12px;font-color:#765;}
    p a:hover {text-decoration:none; color:#453;}
    p a:link{text-decoration:none; color:#000;}
    p a:active{text-decoration:none; color:#543;}
    .cat{text-align:center;padding-top:5px;}
    .cat ul{font-size:13px; list-style-type:none; margin:0px;padding:5px;}
    .cat ul h3{display:block;background:#B9D3EE;color:#fff;padding:5px;}
    .cat ul li{ border-bottom: 1px dotted #FCC;font-size:13px;margin-top:5px;padding:0px;}
    .cat ul li a{ font-size:14px;display:block; width:100%; color:#000; background:none; text-align:center;}
    .cat ul li a:hover{ background:#999;}
    .cat ul li a:active{color:#ff0000;} 
    .cat ul li a:link{ color::#453; }
    .cat ul li a:visited{ background:#999; }
 </style>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>  
<script type="text/javascript">
$(document).ready(function() {
	var s= 'Email:<a href="mailto:kkds+slyyc.asia">kkds+slyyc.asia</a>';
    $('#mail-here').html(s.replace(/\+/g,'@'));

});
</script>
<title>坤坤大神的部落格首页</title>
<div id="content">
<div id="side">
<div id="hotarticle">
<div class="box-header">热门文章</div> 
<ul>
{% for hot in hots %} 
<li><a title="{{ hot.title }}" href="http://{{ localip }}/MyBlog/topics/{{ hot.id }}/">{{ hot.title|striptags|safe|escape|slice:"13" }}-{{ hot.timestamp|date:"Y-n-d"}}</a></li>
{% endfor %}
</ul>
</div>
<div id="newarticle">
<div class="box-header">最新评论</div> 
<ul>
{% for reply in replys %} 
<li><a title="{{ reply.rcontent|striptags|escape}}" href="http://{{ localip }}/MyBlog/topics/{{ reply.r_id }}/">{{ reply.username}}：{{ reply.rcontent|striptags|escape|slice:"20" }}</a></li>
{% endfor %}
</ul>
</div>
</div>
<div id="leftbar">
<div id="about">
<div class="box-header">关于博主</div>
        <div class="about-me">
            <img src="http://{{ localip }}/site_medias/imgs/me.jpg" alt="">
            <ul>
                <li> <strong>坤坤大神</strong>
                    ,资深不务正业者
                </li>
                <li>现居郑州</li>
                <li id="mail-here">欢迎给我发邮件咨询</li>
                <li>
                    <wb:follow-button uid="1611979577" type="gray_3" width="67" height="24" ></wb:follow-button>
                </li>
            </ul>
        </div>
</div>
<div id="about">
<div class="box-header">文章分类</div>
        <div class="cat">
            <ul>
            {% for type in types %}
            <li><a href="http://{{ localip }}/MyBlog/classfy/{{ type.id }}/" title="{{ type.id }}">{{ type.typename }}</a></li>
            {% endfor %}
            </ul>
        </div>
</div>
<div id="about">
<div class="box-header">我的页面</div>
        <div class="cat">
            <ul>
               <li><a href="#" title="1">windows使用技巧</a></li>
               <li><a href="#" title="2">分子生物学工具</a></li>
               <li><a href="#" title="3">python社区讨论组</a></li>
               <li><a href="#" title="4">旅游见闻分享</a></li>
               <li><a href="#" title="5">源码下载</a></li>
               <li><a href="#" title="6">南方周末版</a></li>
               <li><a href="#" title="7">家居小技巧</a></li>
               <li><a href="#" title="8">周末指南</a></li>
               <li><a href="#" title="9">HTML-W3C</a></li>
               <li><a href="#" title="10">学习笔记</a></li>
               <li><a href="#" title="11">Linux开发</a></li>
               <li><a href="#" title="12">Android开发</a></li>
               <li><a href="#" title="12">BootStrap快速开发</a></li>
            </ul>
        </div>
</div>
</div>
<div id="content_inner">
<div class="box-header">大神的最新文章</div>
<div id="post-list">
<ul>
{% for post in posts %}  
<li><a title="{{ post.title}}" href="http://{{ localip }}/MyBlog/topics/{{ post.id }}/">{{ post.title|slice:"16"}}</a>
<span class="viewcount"><small>浏览：<i>{{ post.article_click }}</i>次</small></span>
<span class="viewcount">&nbsp;<i>{{ post.timestamp|date:"Y-n-d" }}</i></span>  
</li>
{% endfor %}
</ul>
</div>
<div id="fenye">
  {% if is_paginated %}
                    {% ifequal current_page 1 %}<button  type="button" class="btn btn-default btn-xs" >首页 </button>
                    {% else %} <button  type="button" class="btn btn-primary btn-xs" onclick="location='?p=1&ps={{ pagesize }}'">首页</button>
                    {% endifequal %}
                    {% if has_previous %} <button  type="button" class="btn btn-primary btn-xs" onclick="location='?p={{ previous_page }}&ps={{ pagesize }}'"><</button>
                    {% else %} 
                    {% endif %}
                    {% for p in page_numbers %}
                    {% ifequal current_page p %}
                        <button  type="button" class="btn btn-default btn-xs" >{{ current_page }}</button>   
                    {% else %}
                        <button  type="button" class="btn btn-primary btn-xs" onclick="location='?p={{ p }}&ps={{ pagesize }}'">{{ p }}</button>  
                    {% endifequal %}
                    {% endfor %}                    
                    {% if has_next %}<button  type="button" class="btn btn-primary btn-xs" onclick="location='?p={{ next_page }}&ps={{ pagesize }}'">></button>
                    {% else %}
                    {% endif %}
                    {% ifequal current_page pages %}<button  type="button" class="btn btn-default btn-xs" >末页 </button>
                    {% else %} <button  type="button" class="btn btn-primary btn-xs" onclick="location='?p={{ pages }}&ps={{ pagesize }}'">末页</button>
                    {% endifequal %}
                    
                页{{ current_page }}/共{{ pages }}页
                        共{{ hits }}篇
                       每页 <a href="?p=1&ps=20">20</a> 
                             <a href="?p=1&ps=40">40</a> 
                               <a href="?p=1&ps=80">80</a> 篇
     {% endif %}              
</div>
</div> 
</div>
<div class="clear"></div>  
{% endblock %}