 <title>注册确认邮件</title>
 <html>
 <body>
 <a href ="http://www.slyyc.asia/" title="点此登陆" ><img alt="" src="http://www.slyyc.asia/site_medias/imgs/logo.gif"></a>
 <h1>尊敬的<b>{{ account }}</b><i>网站登陆用户名</i></h1>
 <h2>您好！</h2>
 <h3>欢迎注册坤坤大神的部落格，你的注册邮箱为{{ email }}</h3>
 <h6>您的密码为<font size="14" color="white">{{ password }}</font><i>看不见请选中</i></h6>
 <h5>密码遗忘后，您可通过此邮箱找回密码！</h5>
 <h4>谢谢！</h4>
 <hr>
 <p>大神部落亲启</p>
 <a href="http://kkds1314.sinaapp.com/MyBlog/register/"><img alt="广告" src="http://kkds1314-upload.stor.sinaapp.com/advertise.jpg"></a>
 </body>
 </html>