{% extends "base.html" %} 
 {% block content %} 
 <title>我的电影单</title>
<style type="text/css">  
#content{min-height:420px} 
.grid-16-8 .article{float:left;width:590px;padding-right:40px}
.grid-16-8 .article .switch-to-shuo{float:right;margin-top:-45px}
.grid-16-8 .article .switch-to-shuo a{display:block;width:134px;height:38px;background:url(https://img3.doubanio.com/f/book/4b96ff7f14f7e4afc66325721537b53f3a647545/css/book/f/book/6822457a2fc71115d0774dfaf5c9d245577d5992/pics/switch_to_shuo.png) no-repeat left top}
.grid-16-8 .article .switch-to-shuo a:hover{background-position:left -38px}
.grid-16-8 .article .switch-to-shuo a:active{background-position:left -76px}
.grid-16-8 .aside{float:right;width:310px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{zoom:1;display:inline-block;_height:1px}
* html .clearfix{height:1%}
*+html .clearfix{height:1%}
.clearfix{display:block}
.article{float:left;width:590px;padding-right:40px} 
.indent{word-break:break-all}
.aside .indent{margin-bottom:40px}
.item{padding:10px;border-bottom:1px solid #eee}
.onlines .item .actions{margin:-5px 0 0 10px;*margin-top:-15px}
.onlines .item a.lnk-confirm{display:none;color:#f96360;background:#fdd6d5;border:1px solid #fa9492}
.onlines .item a.lnk-confirm:hover{color:#fff;background:#fa8280;border:1px solid #e3241b}
.onlines .item h5{font-size:14px;margin-right:80px}
.onlines .item .info{color:#aaa}.onlines .item .actions{float:right;height:19px;color:#aaa;zoom:1}
.onlines .item .status .joined{display:block;_display:inline-block}
.onlines .item .status .quit{display:none}.onlines .item .status.enter .joined{display:none}
.onlines .item .status.enter .quit{display:block;_display:inline-block}.onlines .item .photos{margin:8px}
.onlines .item .photos a{float:left;margin:4px}
.onlines .item .photos a img{max-width:80px;_width:80px}
a:hover,a.nbg:hover,a.gtright:hover,.headerline_img a:hover{background:none}
.pl2{line-height:1em}
.pl2{font:14px Arial, Helvetica, sans-serif;line-height:150%;color:#666666}
.pl2{margin-bottom:10px}
.pl2{line-height:16px}
.pl{font:12px Arial, Helvetica, sans-serif;line-height:150%;color:#666666}
.pl{vertical-align:top}
.pl{margin:6px 0 3px 0}
.pl{padding-top:3px;display:block}
 .pl a{float:none;margin:0;padding:0}
 .clear{clear:both} 
 .aside{float:right;width:460px}
 .aside{float:right;width:380px}
 #header { padding-top: 0 }
form label { float: none; width: auto }
form input { margin-right: 3px }
.quote span.inq { color: #666 }
.info p { margin: 10px 0; color: #666 }

.opt { padding-bottom: 1em; margin-bottom: 0 }
.filter { float: left }
.filter span { color: #999 }
.switcher { float: right }
.switcher div a, .switcher div a:hover, .switcher div em { float: left; display: inline; height: 12px; width: 13px; background: url(/f/movie/d4425a26e80b6318b69226a9a7f2dde98bda875a/pics/icon/switch_thumb.gif) no-repeat }
.switcher div a span, .switcher div em span { display: none }
.switcher div .grid {  margin-right: 8px }
.switcher div em.grid { background-position: 0 0 }
.switcher div em.list { background-position: 0 -12px }
.switcher div a.grid, .switcher div a.grid:hover { background-position: -13px 0 }
.switcher div a.list, .switcher div a.list:hover { background-position: -13px -12px }

.grid_view { border-top: 1px dashed #ccc;padding-left:0; }
.grid_view li {list-style:none; border-bottom: 1px dashed #ccc; padding: 12px 0 }
.grid_view .pic { color: #bbb; float: left; padding-right: 25px }
.grid_view .pic em { float: left; padding: 0 10px }
.grid_view .pic img { }
.grid_view .pic span { text-align: left }
.grid_view .pic span img { padding-left: 26px }
.grid_view .info {overflow:hidden; zoom:1;}
.grid_view .info h2 { display: inline; font: 14px/150% Arial,Helvetica,sans-serif }
.grid_view .info .title { font: 14px/150% Arial,Helvetica,sans-serif }
.grid_view .info a:link span { color: #369 }
.grid_view .info a:visited span { color: #669 }
.grid_view .info a:hover span { color: #fff }
.grid_view .info a:active span { color: #fff }

.list_view caption { display: none }
.list_view th, .list_view td { border-bottom: 1px dashed #ccc; color: #888 }
.list_view tr.item { cursor: pointer }
.list_view tr.info { color: #666; display: none }
.list_view tr.info td { padding: 0 10px }
.list_view tr.info .quote { margin: 5px 0 }
.list_view td { padding: 5px 0 }
.list_view td.m_order { text-align: right; padding-right: 12px }
.list_view td a { display: inline-block; *zoom: 1; line-height: 1em; padding: 1px }
.list_view td em { padding-left: 3px; color: #ff5c38 }
.list_view td .year { margin-left: 3px; color: #666 }
.list_view .highlight, .list_view .expanded { background: #eefcee }
.list_view .expanded td { border: none }

.star span {color:#666;}


.rating1-b, .rating15-b, .rating2-b, .rating25-b, .rating3-b, .rating35-b, .rating4-b, .rating45-b, .rating5-b, .rating-b { display:inline-block;display:-moz-inline-stack;*zoom:1;height:14px;vertical-align:text-top;overflow:hidden;padding-left:80px;margin:-3px 1ex 0 0;font-size:14px;line-height:14px;background:url(/f/movie/aadb298bc1dce8d8abc12fa968635517c73710b0/pics/ui/core.png) no-repeat;*margin-top:0;}
.rating1-b, .rating15-b, .rating2-b, .rating25-b, .rating3-b, .rating35-b, .rating4-b, .rating45-b, .rating5-b, .rating-b, x:default { display:inline-block; }
.rating1-b em, .rating15-b em, .rating2-b em, .rating25-b em, .rating3-b em, .rating35-b em, .rating4-b em, .rating45-b em, .rating5-b em, .rating-b em{ color:#ff5c38;font-family:tahoma; }
.rating1-b {background-position:-120px -240px;}
.rating15-b {background-position:-120px -225px;}
.rating2-b {background-position:-120px -210px;}
.rating25-b {background-position:-120px -195px;}
.rating3-b {background-position:-120px -180px;}
.rating35-b {background-position:-120px -165px;}
.rating4-b {background-position:-120px -150px;}
.rating45-b {background-position:-120px -135px;}
.rating5-b {background-position:-120px -120px;}

.rating-l b { display:inline-block;display:-moz-inline-stack;*zoom:1;height:14px;overflow:hidden;background:#f5cbad;margin:-2px 2px 0 0;vertical-align:middle;*vertical-align:text-bottom; }
.rating-l em { font-size:9px;font-family:tahoma;line-height:1; }
</style>   
</head>  
 <div id="content">
    
    <h3>豆瓣电影 Top250</h3>

    <div class="grid-16-8 clearfix">
      
      <div class="article">
  <div class="indent">
<ol class="grid_view">
{% for m in movies %}
        <li>
            <div class="item">
                <div class="pic">
                    <em class="">{{m.mlist}}</em>
                    <a href="{{m.mlink}}">
                        <img alt="{{m.mname}}" src="{{m.mimage}}" class="">
                    </a>
                </div>
                <div class="info">
                    <div class="hd">
                        <a href="{{m.mlink}}" class="">
                            <span class="title">{{m.mname}}</span>
                        </a>


                            <span class="playable">[可播放]</span>
                    </div>
                    <div class="bd">
                        <p class="">{{m.mdirecter}}
                        </p>

                        
                        <div class="star">
                                <span class="rating_num" property="v:average">豆瓣评分：{{m.mrnum}}分</span>
                        </div>

                            <p class="quote">
                                <span class="inq">“{{m.mdescr}}”</span>
                            </p>
                    </div>
                </div>
            </div>
        </li>
{% endfor %}
</ol>
  {% if is_paginated %}
                    {% ifequal current_page 1 %}<button  type="button" class="btn btn-default btn-xs" >首页 </button>
                    {% else %} <button  type="button" class="btn btn-primary btn-xs" onclick="location='?tag={{tag}}&p=1'">首页</button>
                    {% endifequal %}
                    {% if has_previous %} <button  type="button" class="btn btn-primary btn-xs" onclick="location='?tag={{tag}}&p={{ previous_page }}'"><</button>
                    {% else %} 
                    {% endif %}
                    {% for p in page_numbers %}
                    {% ifequal current_page p %}
                        <button  type="button" class="btn btn-default btn-xs" >{{ current_page }}</button>   
                    {% else %}
                        <button  type="button" class="btn btn-primary btn-xs" onclick="location='?tag={{tag}}&p={{ p }}'">{{ p }}</button>  
                    {% endifequal %}
                    {% endfor %}                    
                    {% if has_next %}<button  type="button" class="btn btn-primary btn-xs" onclick="location='tag={{tag}}&p={{ next_page }}'">></button>
                    {% else %}
                    {% endif %}
                    {% ifequal current_page pages %}<button  type="button" class="btn btn-default btn-xs" >末页 </button>
                    {% else %} <button  type="button" class="btn btn-primary btn-xs" onclick="location='?tag={{tag}}&p={{ pages }}'">末页</button>
                    {% endifequal %}
                    
                页{{ current_page }}/共{{ pages }}页码
                        共{{ hits }}部电影
     {% endif %}       
<div> 
</div>
</div>
</div>
<div class="aside">
        
  <span class="indent pl">
   豆瓣用户每天都在对“看过”的电影进行“很差”到“力荐”的评价，豆瓣根据每部影片看过的人数以及该影片所得的评价等综合数据，通过算法分析产生豆瓣电影250。
  </span>
<div class="">
          <a name="文学" class="tag-title-wrapper">
            <h4 style="padding-top:10px">热门标签 · · · · · · </h4>
          </a>
          <table class="tagCol">
            <tbody>
                  <tr>
                  <td><a href="/movie/?tag=top250">top250&nbsp;&nbsp;</a></td>
                <td><a href="/movie/?tag=2015">2015&nbsp;&nbsp;</a></td>
                <td><a href="/movie/?tag=2014">2014&nbsp;&nbsp;</a></td>
                <td><a href="/movie/?tag=2013">2013&nbsp;&nbsp;</a></td>
                <td><a href="/movie/?tag=2012">2012&nbsp;&nbsp;</a></td>
                <td><a href="/movie/?tag=2011">2011&nbsp;&nbsp;</a></td>
                  </tr>
                  <tr>
                  <td><a href="/movie/?tag=2010">2010&nbsp;&nbsp;</a></td>
                <td><a href="/movie/?tag=2009">2009&nbsp;&nbsp;</a></td>
                <td><a href="/movie/?tag=2008">2008&nbsp;&nbsp;</a></td>
                <td><a href="/movie/?tag=2007">2007&nbsp;&nbsp;</a></td>
                <td><a href="/movie/?tag=2006">2006&nbsp;&nbsp;</a></td>
                <td><a href="/movie/?tag=2005">2005&nbsp;&nbsp;</a></td>
                  </tr>
                  <tr>
                  <td><a href="/movie/?tag=2004">2004&nbsp;&nbsp;</a></td>
                <td><a href="/movie/?tag=2003">2003&nbsp;&nbsp;</a></td>
                <td><a href="/movie/?tag=2002">2002&nbsp;&nbsp;</a></td>
                <td><a href="/movie/?tag=2001">2001&nbsp;&nbsp;</a></td>
                <td><a href="/movie/?tag=2000">2000&nbsp;&nbsp;</a></td>
                <td><a href="/movie/?tag=1999">1999&nbsp;&nbsp;</a></td>
                  </tr>
            </tbody>
          </table>
        </div>

</div>
 <div class="clear"></div> 
 {% endblock %}