<!DOCTYPE HTML>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
<meta name='360_ssp_verify' content='01251f5d767eb9e11ce3ce6847a34484' />
<meta charset="UTF-8">
<meta content="提供图书、电影、音乐唱片的推荐、评论和价格比较，以及城市独特的文化生活。" name="description">
<title>大神部落广场</title>

<link rel="stylesheet" href="http://{{ localip }}/site_medias/css/plaza_init.css">
<link rel="stylesheet" href="http://{{ localip }}/site_medias/css/anymous_home.css">
<!-- COLLECTED CSS -->
</head>

<body>
  <div id="anony-nav">
    <div class="anony-nav-links">
    <ul>
    <li> <a target="_blank" class="lnk-book" href="http://{{ localip }}/book/">大神部落读书</a></li>
    <li> <a target="_blank" class="lnk-movie" href="http://{{ localip }}/movie/">大神部落电影</a></li>
    <li> <a target="_blank" class="lnk-group" href="http://{{ localip }}/MyBlog/">大神部落</a></li>
    </ul>
    </div>

    <h1><a href="http://{{ localip }}">大神部落</a></h1>

    <div class="anony-srh">
    <form action="http://{{ localip }}/MyBlog/search/" method="post">
      <span class="inp"><input type="text" maxlength="60" size="12" placeholder="书籍、电影、小站、成员" name="search_words" autocomplete="off"></span>
    <span class="bn"><input type="submit" value="搜索"></span>
    </form>
    </div>
  </div>
<div id="anony-reg">
  <div class="wrapper">
    

<div class="login">
    <form id="lzform" name="lzform" method="post" action="http://{{ localip }}/MyBlog/login/">{% csrf_token %}
        <fieldset>
            <legend>登录</legend>
            <input type="hidden" value="index_nav" name="source">
            <div class="item item-account">
                <input type="text" name="account" id="form_email" value="" class="inp" placeholder="账号" tabIndex="1">
                <div class="opt"><label for="form_remember"><input name="remember" type="checkbox" id="form_remember" tabIndex="4">记住我</label></div>
            </div>
            <div class="item item-passwd">
                <input name="password" placeholder="密码" id="form_password" class="inp" type="password" tabIndex="2">
                <div class="opt"><a href="http://{{ localip }}/MyBlog/accounts/resetpassword">忘记密码</a></div>
            </div>
            <div class="item-submit">
                <input value="登录" type="submit" class="bn-submit" tabIndex="4">
            </div>
        </fieldset>
    </form>
    <div style="display:none;">
        <img src="http://{{ localip }}/site_medias/imgs/blank.gif"   onload="(function(url){document.getElementById('lzform').action=url;})('http://{{ localip }}/MyBlog/login/')"/>
    </div>
</div>
  
    <div class="reg">
        
        <a href="http://{{ localip }}/MyBlog/register/" class="lnk-reg">加入我们 <i>注册</i></a>
        <div class="nb-info">
        <b>发现更多生活</b>
        </div>
    </div>
  </div>
</div>           
<div id="anony-sns" class="section">
  <div class="wrapper">
  <div class="side">

  <div style="margin:10px 0px;">
      <a target="_blank" href="http://moment.douban.com/app"><img width="265" src="http://{{ localip }}/site_medias/imgs/file-1431585796.jpg"></a>
  </div>
  
    <h2>
        最热帖子
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
            <span class="pl">&nbsp;(
                
                    <a href="http://www.slyyc.asia/MyBlog/" target="_self">更多</a>
                ) </span>
    </h2>

  <div class="online">
    <ul>
    {% for hot in hotarticles %}
        <li>
            <div class="title">
                <a href="http://{{ localip }}/MyBlog/topics/{{ hot.id }}/">{{ hot.title }}</a>
            </div>
            <div class="desc">
                时间：{{ hot.timestamp|date:"Y-n-d"}}
                <br><span class="num">{{ hot.article_click }}人参加</span>
            </div>
        </li>
{% endfor %}
    </ul>
  </div>
</div>
  <div class="main">
<div class="mod">

  
    <h2>
        热点内容
            ······
    </h2>

  <div class="albums">
    <ul>
    {% for pic in pics %}
      <li>
      <div class="pic">
          <a href="#" title="{{ pic.imagesize }}KB"><img class="img-responsive" src="{{ pic.imageurl }}" data-origin="{{ pic.imageurl }}" alt="" /></a>
      </div>
      <a href="#">{{ pic.username }}</a>
      <span class="num">{{ pic.imagename }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="notes">
 {% for first in firsts %} 
    <ul>
      <li class="first">
      <div class="title">
          <a href="http://{{ localip }}/MyBlog/topics/{{ first.id }}/">{{ first.title }}</a>
      </div>
      <div class="author">
        {{ first.u }}
      </div>
      <p>{{ first.content|striptags|safe|escape|slice:"50" }}....</p>
      </li>
   {% endfor %}
  {% for plaza in plazas %} 
      <li><a href="http://{{ localip }}/MyBlog/topics/{{ plaza.id }}/">{{ plaza.title }}</a></li>
    </ul>
    {% endfor %}
  </div>
</div>
</div>
  </div>
  
<div id="dale_anonymous_home_page_top" class="extra"></div>

</div> 
<!--            
<div id="anony-movie" class="section">
  <div class="wrapper">
  
  
<div class="sidenav">
  <h2 class="section-title"><a href="http://movie.douban.com">电影</a></h2>
  
  
  <div class="side-links nav-anon">
      <ul>
                          
                 <li><a href="http://movie.douban.com/nowplaying/">影讯&amp;购票</a></li>
             
                 <li class="site-nav-bt">
                     <a href="http://movie.douban.com/explore">选电影</a>
                     <img style="top: -5px; position: relative;" src="http://img3.douban.com/pics/new_menu.gif"/>
                 </li>
             
                 <li><a href="http://movie.douban.com/tv/">电视剧</a></li>
             
                 <li><a href="http://movie.douban.com/chart">排行榜</a></li>
             
                 <li><a href="http://movie.douban.com/tag/">分类</a></li>
             
                        <li><a href="http://movie.douban.com/review/best/">影评</a></li>
             
                 <li class="site-nav-bt"><a href="http://movie.douban.com/trailers">预告片</a></li>
             
      
      </ul>
  </div>
 
  


    <div class="apps-list">
    <ul>
    <li><a href="http://www.douban.com/mobile/movie" class="lnk-icon"><i class="app-icon app-icon-movie"></i></a><a href="http://www.douban.com/mobile/movie">大神部落电影</a></li>
    </ul>
    </div>

</div>

  <div class="side">
<div class="mod">


    <h2>
        影片分类
            ······
            <span class="pl">&nbsp;(
                
                    <a href="http://movie.douban.com/tag/?view=type" target="_self">更多</a>
                ) </span>
    </h2>

<div class="tags list">
  <ul>
    <li><a href="http://movie.douban.com/tag/爱情">爱情</a></li>
    <li><a href="http://movie.douban.com/tag/喜剧">喜剧</a></li>
    <li><a href="http://movie.douban.com/tag/动画">动画</a></li>
    <li><a href="http://movie.douban.com/tag/科幻">科幻</a></li>
    <li><a href="http://movie.douban.com/tag/经典">经典</a></li>
    <li><a href="http://movie.douban.com/tag/剧情">剧情</a></li>
    <li><a href="http://movie.douban.com/tag/动作">动作</a></li>
    <li><a href="http://movie.douban.com/tag/青春">青春</a></li>
    <li><a href="http://movie.douban.com/tag/悬疑">悬疑</a></li>
    <li><a href="http://movie.douban.com/tag/惊悚">惊悚</a></li>
    <li><a href="http://movie.douban.com/tag/犯罪">犯罪</a></li>
    <li><a href="http://movie.douban.com/tag/纪录片">纪录片</a></li>
    <li><a href="http://movie.douban.com/tag/文艺">文艺</a></li>
    <li><a href="http://movie.douban.com/tag/励志">励志</a></li>
    <li><a href="http://movie.douban.com/tag/搞笑">搞笑</a></li>
    <li><a href="http://movie.douban.com/tag/恐怖">恐怖</a></li>
    <li><a href="http://movie.douban.com/tag/短片">短片</a></li>
    <li><a href="http://movie.douban.com/tag/战争">战争</a></li>
    <li><a href="http://movie.douban.com/tag/美国">美国</a></li>
    <li><a href="http://movie.douban.com/tag/日本">日本</a></li>
    <li><a href="http://movie.douban.com/tag/香港">香港</a></li>
    <li><a href="http://movie.douban.com/tag/英国">英国</a></li>
    <li><a href="http://movie.douban.com/tag/中国">中国</a></li>
    <li><a href="http://movie.douban.com/tag/法国">法国</a></li>
    <li><a href="http://movie.douban.com/tag/韩国">韩国</a></li>
    <li><a href="http://movie.douban.com/tag/台湾">台湾</a></li>
    <li><a href="http://movie.douban.com/tag/德国">德国</a></li>
    <li><a href="http://movie.douban.com/tag/意大利">意大利</a></li>
  </ul>
</div>
</div>

<div class="mod">


    <h2>
        近期热门
            ······
            <span class="pl">&nbsp;(
                
                    <a href="http://movie.douban.com/chart" target="_self">更多</a>
                ) </span>
    </h2>

<div class="list1 movie-charts">
  <ol>
    <li>
    <a href="http://movie.douban.com/subject/23034934/">采访</a>
    </li>
    <li>
    <a href="http://movie.douban.com/subject/21318488/">消失的爱人</a>
    </li>
    <li>
    <a href="http://movie.douban.com/subject/25750969/">夜行者</a>
    </li>
    <li>
    <a href="http://movie.douban.com/subject/24741412/">哪啊哪啊神去村</a>
    </li>
    <li>
    <a href="http://movie.douban.com/subject/3012013/">伸冤人</a>
    </li>
    <li>
    <a href="http://movie.douban.com/subject/25769362/">哆啦A梦：伴我同行</a>
    </li>
    <li>
    <a href="http://movie.douban.com/subject/20278505/">前目的地</a>
    </li>
    <li>
    <a href="http://movie.douban.com/subject/21770915/">冬眠</a>
    </li>
    <li>
    <a href="http://movie.douban.com/subject/10549480/">你眼中的世界</a>
    </li>
    <li>
    <a href="http://movie.douban.com/subject/25815008/">依然爱丽丝</a>
    </li>
  </ol>
</div>
</div>
</div>
  <div class="main">


    <h2>
        正在热映
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
            <span class="pl">&nbsp;(
                
                    <a href="http://movie.douban.com/showtimes/" target="_self">更多</a>
                ) </span>
    </h2>

<div class="movie-list list">
  <ul>
    <li>
    <div class="pic">
        <a href="http://movie.douban.com/subject/21349734/"><img src="http://img5.douban.com/view/movie_poster_cover/spst/public/p2219665256.jpg" src="http://img5.douban.com/view/movie_poster_cover/spst/public/p2219665256.jpg" alt="博物馆奇妙夜3" /></a>
    </div>
    <div class="title">
      <a href="http://movie.douban.com/subject/21349734/">博物馆奇妙夜3...</a>
    </div>
    <div class="rating">
        <span class="allstar35"></span><i>7.2</i>
    </div>
    <a href="http://movie.douban.com/subject/21349734/cinema/" class="bn-link bn-ticket">选座购票</a>
    <li>
    <div class="pic">
        <a href="http://movie.douban.com/subject/10807909/"><img src="http://img5.douban.com/view/movie_poster_cover/spst/public/p2215164906.jpg" data-origin="http://img5.douban.com/view/movie_poster_cover/spst/public/p2215164906.jpg" alt="智取威虎山" /></a>
    </div>
    <div class="title">
      <a href="http://movie.douban.com/subject/10807909/">智取威虎山</a>
    </div>
    <div class="rating">
        <span class="allstar40"></span><i>7.9</i>
    </div>
    <a href="http://movie.douban.com/subject/10807909/cinema/" class="bn-link bn-ticket">选座购票</a>
    <li>
    <div class="pic">
        <a href="http://movie.douban.com/subject/24751757/"><img src="http://img3.douban.com/view/movie_poster_cover/spst/public/p2213796763.jpg" data-origin="http://img3.douban.com/view/movie_poster_cover/spst/public/p2213796763.jpg" alt="微爱之渐入佳境" /></a>
    </div>
    <div class="title">
      <a href="http://movie.douban.com/subject/24751757/">微爱之渐入佳境...</a>
    </div>
    <div class="rating">
        <span class="allstar30"></span><i>5.4</i>
    </div>
    <a href="http://movie.douban.com/subject/24751757/cinema/" class="bn-link bn-ticket">选座购票</a>
    <li>
    <div class="pic">
        <a href="http://movie.douban.com/subject/25805054/"><img src="http://img5.douban.com/view/movie_poster_cover/spst/public/p2217523448.jpg" data-origin="http://img5.douban.com/view/movie_poster_cover/spst/public/p2217523448.jpg" alt="十万个冷笑话" /></a>
    </div>
    <div class="title">
      <a href="http://movie.douban.com/subject/25805054/">十万个冷笑话</a>
    </div>
    <div class="rating">
        <span class="allstar35"></span><i>6.7</i>
    </div>
    <a href="http://movie.douban.com/subject/25805054/cinema/" class="bn-link bn-ticket">选座购票</a>
    <li>
    <div class="pic">
        <a href="http://movie.douban.com/subject/21967905/"><img src="http://img3.douban.com/view/movie_poster_cover/spst/public/p2218814841.jpg" data-origin="http://img3.douban.com/view/movie_poster_cover/spst/public/p2218814841.jpg" alt="怨灵人偶" /></a>
    </div>
    <div class="title">
      <a href="http://movie.douban.com/subject/21967905/">怨灵人偶</a>
    </div>
    <div class="rating">
        <span class="allstar15"></span><i>2.9</i>
    </div>
    <a href="http://movie.douban.com/subject/21967905/cinema/" class="bn-link bn-ticket">选座购票</a>
    <li>
    <div class="pic">
        <a href="http://movie.douban.com/subject/25743807/"><img src="http://img5.douban.com/view/movie_poster_cover/spst/public/p2213350249.jpg" data-origin="http://img5.douban.com/view/movie_poster_cover/spst/public/p2213350249.jpg" alt="王牌" /></a>
    </div>
    <div class="title">
      <a href="http://movie.douban.com/subject/25743807/">王牌</a>
    </div>
    <div class="rating">
        <span class="allstar25"></span><i>4.3</i>
    </div>
    <a href="http://movie.douban.com/subject/25743807/cinema/" class="bn-link bn-ticket">选座购票</a>
    <li>
    <div class="pic">
        <a href="http://movie.douban.com/subject/6126442/"><img src="http://img3.douban.com/view/movie_poster_cover/spst/public/p2210853894.jpg" data-origin="http://img3.douban.com/view/movie_poster_cover/spst/public/p2210853894.jpg" alt="一步之遥" /></a>
    </div>
    <div class="title">
      <a href="http://movie.douban.com/subject/6126442/">一步之遥</a>
    </div>
    <div class="rating">
        <span class="allstar35"></span><i>6.4</i>
    </div>
    <a href="http://movie.douban.com/subject/6126442/cinema/" class="bn-link bn-ticket">选座购票</a>
    <li>
    <div class="pic">
        <a href="http://movie.douban.com/subject/3927761/"><img src="http://img5.douban.com/view/movie_poster_cover/spst/public/p2216409026.jpg" data-origin="http://img5.douban.com/view/movie_poster_cover/spst/public/p2216409026.jpg" alt="斑马总动员" /></a>
    </div>
    <div class="title">
      <a href="http://movie.douban.com/subject/3927761/">斑马总动员</a>
    </div>
    <div class="rating">
        <span class="allstar30"></span><i>5.7</i>
    </div>
    <a href="http://movie.douban.com/subject/3927761/cinema/" class="bn-link bn-ticket">选座购票</a>
  </ul>
</div>
</div>
  </div>
  
    <div id="dale_anonymous_homepage_movie_bottom" class="extra"></div>

</div>            
<div id="anony-book" class="section">
  <div class="wrapper">
  
  
<div class="sidenav">
  <div class="mod">
  <h2 class="section-title"><a href="http://book.douban.com">读书</a></h2>
  
  
  <div class="side-links nav-anon">
      <ul>
                                                    
                 <li><a href="http://book.douban.com/tag/">分类浏览</a></li>
             
                <li>
                    <a target="_blank" href="http://read.douban.com?dcn=entry&amp;dcs=book-nav&amp;dcm=douban">阅读</a>
                    <img style="top: 4px; position: absolute;" src="http://img3.douban.com/pics/new_menu.gif"/>
                </li>
             
                 <li><a href="http://book.douban.com/writers/">作者</a></li>
             
                 <li><a href="http://book.douban.com/review/best/">书评</a></li>
      
          
<li class="site-nav-prom">
  <a class="lnk-buy" href="http://book.douban.com/cart"><em>购书单</em></a>
</li>

      </ul>
  </div>
 
  </div>

  


    <div class="apps-list">
    <ul>
    <li><a href="http://www.douban.com/mobile/read" class="lnk-icon"><i class="app-icon app-icon-read"></i></a><a href="http://www.douban.com/mobile/read">大神部落阅读</a></li>
    <li><a href="http://www.douban.com/mobile/read-notes" class="lnk-icon"><i class="app-icon app-icon-read-notes"></i></a><a href="http://www.douban.com/mobile/read-notes">大神部落笔记</a></li>
    <li><a href="http://www.douban.com/mobile/cart" class="lnk-icon"><i class="app-icon app-icon-cart"></i></a><a href="http://www.douban.com/mobile/cart">大神部落购书单</a></li>
    </ul>
    </div>

</div>

  <div class="side">

<div class="mod">

    <h2>
        热门标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
            <span class="pl">&nbsp;(
                
                    <a href="http://book.douban.com/tag/?view=type" target="_self">更多</a>
                ) </span>
    </h2>

<div class="book-cate-mod">
<div class="cate book-cate">
  <ul>
  <li class="cate-label">[文学]</li>
  <li><a href="http://book.douban.com/tag/小说">小说</a></li>
  <li><a href="http://book.douban.com/tag/随笔">随笔</a></li>
  <li><a href="http://book.douban.com/tag/散文">散文</a></li>
  <li><a href="http://book.douban.com/tag/日本文学">日本文学</a></li>
  <li><a href="http://book.douban.com/tag/童话">童话</a></li>
  <li><a href="http://book.douban.com/tag/诗歌">诗歌</a></li>
  <li><a href="http://book.douban.com/tag/名著">名著</a></li>
  <li><a href="http://book.douban.com/tag/港台">港台</a></li>
  <li><a href="http://book.douban.com/tag/?view=type#文学">更多</a></li>
  </ul>
</div>
<div class="cate book-cate">
  <ul>
  <li class="cate-label">[流行]</li>
  <li><a href="http://book.douban.com/tag/漫画">漫画</a></li>
  <li><a href="http://book.douban.com/tag/绘本">绘本</a></li>
  <li><a href="http://book.douban.com/tag/推理">推理</a></li>
  <li><a href="http://book.douban.com/tag/青春">青春</a></li>
  <li><a href="http://book.douban.com/tag/言情">言情</a></li>
  <li><a href="http://book.douban.com/tag/科幻">科幻</a></li>
  <li><a href="http://book.douban.com/tag/武侠">武侠</a></li>
  <li><a href="http://book.douban.com/tag/奇幻">奇幻</a></li>
  <li><a href="http://book.douban.com/tag/?view=type#流行">更多</a></li>
  </ul>
</div>
<div class="cate book-cate">
  <ul>
  <li class="cate-label">[文化]</li>
  <li><a href="http://book.douban.com/tag/历史">历史</a></li>
  <li><a href="http://book.douban.com/tag/哲学">哲学</a></li>
  <li><a href="http://book.douban.com/tag/传记">传记</a></li>
  <li><a href="http://book.douban.com/tag/设计">设计</a></li>
  <li><a href="http://book.douban.com/tag/建筑">建筑</a></li>
  <li><a href="http://book.douban.com/tag/电影">电影</a></li>
  <li><a href="http://book.douban.com/tag/回忆录">回忆录</a></li>
  <li><a href="http://book.douban.com/tag/音乐">音乐</a></li>
  <li><a href="http://book.douban.com/tag/?view=type#文化">更多</a></li>
  </ul>
</div>
<div class="cate book-cate">
  <ul>
  <li class="cate-label">[生活]</li>
  <li><a href="http://book.douban.com/tag/旅行">旅行</a></li>
  <li><a href="http://book.douban.com/tag/励志">励志</a></li>
  <li><a href="http://book.douban.com/tag/职场">职场</a></li>
  <li><a href="http://book.douban.com/tag/美食">美食</a></li>
  <li><a href="http://book.douban.com/tag/教育">教育</a></li>
  <li><a href="http://book.douban.com/tag/灵修">灵修</a></li>
  <li><a href="http://book.douban.com/tag/健康">健康</a></li>
  <li><a href="http://book.douban.com/tag/家居">家居</a></li>
  <li><a href="http://book.douban.com/tag/?view=type#生活">更多</a></li>
  </ul>
</div>
<div class="cate book-cate">
  <ul>
  <li class="cate-label">[经管]</li>
  <li><a href="http://book.douban.com/tag/经济学">经济学</a></li>
  <li><a href="http://book.douban.com/tag/管理">管理</a></li>
  <li><a href="http://book.douban.com/tag/金融">金融</a></li>
  <li><a href="http://book.douban.com/tag/商业">商业</a></li>
  <li><a href="http://book.douban.com/tag/营销">营销</a></li>
  <li><a href="http://book.douban.com/tag/理财">理财</a></li>
  <li><a href="http://book.douban.com/tag/股票">股票</a></li>
  <li><a href="http://book.douban.com/tag/企业史">企业史</a></li>
  <li><a href="http://book.douban.com/tag/?view=type#经管">更多</a></li>
  </ul>
</div>
<div class="cate book-cate">
  <ul>
  <li class="cate-label">[科技]</li>
  <li><a href="http://book.douban.com/tag/科普">科普</a></li>
  <li><a href="http://book.douban.com/tag/互联网">互联网</a></li>
  <li><a href="http://book.douban.com/tag/编程">编程</a></li>
  <li><a href="http://book.douban.com/tag/交互设计">交互设计</a></li>
  <li><a href="http://book.douban.com/tag/算法">算法</a></li>
  <li><a href="http://book.douban.com/tag/通信">通信</a></li>
  <li><a href="http://book.douban.com/tag/神经网络">神经网络</a></li>
  <li><a href="http://book.douban.com/tag/?view=type#科技">更多</a></li>
  </ul>
</div>
</div>
</div>
</div>
<div class="main">

<div class="mod">

    <h2>
        新书速递
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
            <span class="pl">&nbsp;(
                
                    <a href="http://book.douban.com/latest" target="_self">更多</a>
                ) </span>
    </h2>

<div class="book-list list">
  <ul>
      <li>
      <div class="pic">
          <a href="http://book.douban.com/subject/26264967/"><img src="http://img5.douban.com/mpic/s27882508.jpg" alt="神们自己" /></a>
      </div>
      <div class="title">
        <a href="http://book.douban.com/subject/26264967/" >神们自己</a>
      </div>
      <div class="author">〔美〕艾萨克·...</div>
      <a href="http://read.douban.com/reader/ebook/7968820/" target="_blank" class="bn-link">免费试读</a>
      <li>
      <div class="pic">
          <a href="http://book.douban.com/subject/26111149/"><img src="http://img3.douban.com/mpic/s27772430.jpg" alt="第一日" /></a>
      </div>
      <div class="title">
        <a href="http://book.douban.com/subject/26111149/" >第一日</a>
      </div>
      <div class="author">〔法〕马克·李...</div>
      <a href="http://read.douban.com/reader/ebook/7845875/" target="_blank" class="bn-link">免费试读</a>
      <li>
      <div class="pic">
          <a href="http://book.douban.com/subject/26260107/"><img src="http://img5.douban.com/mpic/s27812438.jpg" alt="梦想开花前 没有人知道它是什么" /></a>
      </div>
      <div class="title">
        <a href="http://book.douban.com/subject/26260107/" >梦想开花前 没...</a>
      </div>
      <div class="author">吴虹飞 等</div>
      <a href="http://read.douban.com/reader/ebook/7486182/" target="_blank" class="bn-link">免费试读</a>
      <li>
      <div class="pic">
          <a href="http://book.douban.com/subject/26219415/"><img src="http://img3.douban.com/mpic/s27727761.jpg" alt="这才是中国最好的语文书•诗歌分册（上）" /></a>
      </div>
      <div class="title">
        <a href="http://book.douban.com/subject/26219415/" >这才是中国最好...</a>
      </div>
      <div class="author">叶开</div>
      <a href="http://read.douban.com/reader/ebook/7546657/" target="_blank" class="bn-link">免费试读</a>
  </ul>
</div>
</div>

<div class="mod">

    <h2>
        原创数字作品
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
            <span class="pl">&nbsp;(
                
                    <a href="http://read.douban.com/category/fiction?sort=top&amp;cat=article" target="_self">更多</a>
                ) </span>
    </h2>

<div class="book-list list">
  <ul>
    <li>
    <div class="pic">
        <a href="http://read.douban.com/ebook/2508999" target="_blank"><img src="http://img3.douban.com/view/ark_article_cover/large/public/2508999.jpg?v=1400134541.0" alt="有爱我们床上谈" /></a>
    </div>
    <div class="title">
      <a href="http://read.douban.com/ebook/2508999" target="_blank">有爱我们床上谈...</a>
    </div>
    <div class="author">大给</div>
    <div class="price">
        6.90元
    </div>
    <a href="http://read.douban.com/reader/ebook/2508999/" target="_blank" class="bn-link">免费试读</a>
    <li>
    <div class="pic">
        <a href="http://read.douban.com/ebook/1194922" target="_blank"><img src="http://img3.douban.com/view/ark_article_cover/large/public/1194922.jpg?v=1395394657.0" alt="我是如何一步步毁掉我的生活的" /></a>
    </div>
    <div class="title">
      <a href="http://read.douban.com/ebook/1194922" target="_blank">我是如何一步步...</a>
    </div>
    <div class="author">周嘉宁</div>
    <div class="price">
        1.99元
    </div>
    <a href="http://read.douban.com/reader/ebook/1194922/" target="_blank" class="bn-link">免费试读</a>
    <li>
    <div class="pic">
        <a href="http://read.douban.com/ebook/7632904" target="_blank"><img src="http://img3.douban.com/view/ark_article_cover/large/public/7632904.jpg?v=1418622775.0" alt="情感问答 2" /></a>
    </div>
    <div class="title">
      <a href="http://read.douban.com/ebook/7632904" target="_blank">情感问答 2</a>
    </div>
    <div class="author">菠菜</div>
    <div class="price">
        1.99元
    </div>
    <a href="http://read.douban.com/reader/ebook/7632904/" target="_blank" class="bn-link">免费试读</a>
    <li>
    <div class="pic">
        <a href="http://read.douban.com/ebook/1919781" target="_blank"><img src="http://img3.douban.com/view/ark_article_cover/large/public/1919781.jpg?v=1395393838.0" alt="情感问答" /></a>
    </div>
    <div class="title">
      <a href="http://read.douban.com/ebook/1919781" target="_blank">情感问答</a>
    </div>
    <div class="author">菠菜</div>
    <div class="price">
        1.99元
    </div>
    <a href="http://read.douban.com/reader/ebook/1919781/" target="_blank" class="bn-link">免费试读</a>
  </ul>
</div>
</div>
</div>
  </div>
  
</div>
 -->
<div class="wrapper">
  <div id="dale_anonymous_home_page_bottom" class="extra"></div>
  <div id="ft">

<div class="fleft">
   <a href="http://{{ localip }}/MyBlog/">首页</a>&nbsp;&nbsp;
 <font style="font-family:arial,Times New Roman;">CopyRights@2013~{{ thisyear }}</font>
 本页面访问量统计：{{ count }}人访问本页面！
<div id="beian" style="text-align:center;">
本应用由新浪云计算平台提供服务支持
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257476379'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1257476379%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
<img alt="云计算提供商" src="http://sae.sina.com.cn/doc/_images/poweredby-120x33px.png"><br>
本站工信部备案号：<a href="http://www.beianbeian.com/beianxinxi/a7816513-b67e-436d-8fdf-1f71f86929e9.html">豫ICP备14029863号-1</a>
    <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=bd9472b87a3d35d77384ec07deb6035e5028cb73b1419d55162ab0da545d0644"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="升龙又一城F区业主群" title="升龙又一城F区业主群"></a>
</div>
</div>
 </div>
</div>
</body>
</html>



