 {% extends "base.html" %} 
 {% block content %}
<title>照片墙，热点发现</title>
<link type="text/css" rel="stylesheet" href="http://{{ localip }}/site_medias/css/shCoreDefault.css"/>
 <style type="text/css">  
    #pindao{margin:5px;padding:5px;font-size:13px;background-color:#B9D3EE;border:none;clear:both;}
    #pindao span{margin-left:10px;}
    #sidebar { float:left; width:135px;}
    #ccontent {margin:o; width:100%;height:auo;float:right;}
    #mainContent {margin-left:135px;padding:5px;font-size:14px; margin-bottom:5px;}
    #mainContent h1{font-size:24px;margin-top:15px;}
    #navilink{width:120px;margin-bottom:5px;border-left:1px solid #B9D3EE;border-right:1px solid #B9D3EE;border-bottom:1px solid #B9D3EE;}
    div#navilink ul{font-size:13px; list-style-type:none; margin:0px;padding:5px;}
    div#navilink ul h3{display:block;background:#B9D3EE;color:#fff;padding:5px;}
    div#navilink ul li{ border-bottom: 1px dotted #FCC;font-size:13px;margin-top:5px;padding:0px;}
    div#navilink ul li a{ font-size:14px;display:block; width:100%; color:#000; background:none; text-align:center;}
    div#navilink ul li a:hover{ background:#999;}
    div#navilink ul li a:active{color:#ff0000;} 
    div#navilink ul li a:link{ color::#453; }
    div#navilink ul li a:visited{ background:#999; }
    div#maincontent p .reply{font-size:12px;font-color:#765;cursor:hand;}
    div#maincontent p a:hover {text-decoration:none; color:#453;}
    div#maincontent p a:link{text-decoration:none; color:#000;}
    div#maincontent p a:active{text-decoration:none; color:#543;}
    #showtextarea{margin:5px;padding:5px;}  
    div#mainContent .view{padding-left:30px;margin-left:20px;}
    #type{text-align:center;}
    #type span{margin-left:30px;}
    #love{text-align:center;}
    #reply{font-size:13px;margin:5px;padding:5px;}
    .b1,.b2,.b3,.b4,.b1b,.b2b,.b3b,.b4b,.b{display:block;overflow:hidden;}
    .b1,.b2,.b3,.b1b,.b2b,.b3b{height:1px;}
    .b2,.b3,.b4,.b2b,.b3b,.b4b,.b{border-left:1px solid #B9D3EE;border-right:1px solid #B9D3EE;}
    .b1,.b1b{margin:0 5px;background:#B9D3EE;}
    .b2,.b2b{margin:0 3px;border-width:2px;}
    .b3,.b3b{margin:0 2px;}
    .b4,.b4b{height:2px;margin:0 1px;}
    .d1{}
    .k {height:auto;padding:5px;}
  </style> 
<link href="/site_medias/css/lrtk.css" rel="stylesheet" type="text/css" />
<link href="/site_medias/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/site_medias/js/lrtk.js"></script>
<div id="pindao"><a href="/MyBlog/">首页</a><span>&nbsp;/&nbsp;</span><a href="#">频道</a><span>&nbsp;/&nbsp;</span><span>照片列表显示</span></div>
<div id="ccontent">
<div id="sidebar">
<div id="navilink">
<div class="box-header">频道导航栏</div>
<ul>
{% for type in types %}
<li><a href="http://{{ localip }}/MyBlog/classfy/{{ type.id }}/" title="{{ type.id }}">{{ type.typename }}</a></li>
{% endfor %}
</ul>
</div>
<div class="box-header">文章存档</div>
{% for cd in cds %}
<ul>
<li><a href="#" title="文章数量{{ cd.number }}">{{ cd.year }}年{{ cd.month }}月[<sup>{{ cd.number }}</sup>]</a></li>
</ul>
{% endfor %}
</div>

<div id="maincontent">
<b class="b1"></b><b class="b2 d1"></b><b class="b3 d1"></b><b class="b4 d1"></b>
<div class="b d1 k">
<div class="common">
<ul>
{% for photo in photos %}
<li class="listbox mr20">
      <div class="listimg"><a id="imgbox{{photo.id}}" href="{{photo.imageurl}}"><img src="{{photo.imageurl}}" class="attachment-thumbnail wp-post-image"/></a>
        <div class="summary">
          <div class="summarytxt">
            <p>点赞</p>
          </div>
        </div>
      </div>
      <div class="listinfo">
        <div class="listtitle"><a href="#" >{{photo.imagename}}</a></div>
        <div class="listtag"><a href="。。/" rel="tag">上传者：{{photo.username}}</a><a href="{{photo.imageurl}}" rel="tag">原图</a></div>
        <div class="listdate">{{photo.uploadtime|date:"Y-n-d"}}</div>
        <div class="listview">{{photo.imagesize}}KB</div>
        <div class="listcomment"><a href="/zanphoto/{{photo.id}}">{{photo.zanclick}}赞</a></div>
       </div>
</li>
<script src="/site_medias/js/jquery.min.js"></script>
<script src="/site_medias/js/jquery.imgbox.pack.js"></script>
<script>
$(function(){
	$("#imgbox{{photo.id}}").imgbox({
	    'speedIn'		: 0,
		'speedOut'		: 0,
		'alignment'		: 'center',
		'overlayShow'	: true,
		'allowMultiple'	: false
	});
});
</script>
{% endfor %}
</ul>
</div>
<div id="fenye" style="padding-top:20px;clear:both;">
  {% if is_paginated %}
                    {% ifequal current_page 1 %}<button  type="button" class="btn btn-default btn-xs" >首页 </button>
                    {% else %} <button  type="button" class="btn btn-primary btn-xs" onclick="location='?p=1&ps={{ pagesize }}'">首页</button>
                    {% endifequal %}
                    {% if has_previous %} <button  type="button" class="btn btn-primary btn-xs" onclick="location='?p={{ previous_page }}&ps={{ pagesize }}'"><</button>
                    {% else %} 
                    {% endif %}
                    {% for p in page_numbers %}
                    {% ifequal current_page p %}
                        <button  type="button" class="btn btn-default btn-xs" >{{ current_page }}</button>   
                    {% else %}
                        <button  type="button" class="btn btn-primary btn-xs" onclick="location='?p={{ p }}&ps={{ pagesize }}'">{{ p }}</button>  
                    {% endifequal %}
                    {% endfor %}                    
                    {% if has_next %}<button  type="button" class="btn btn-primary btn-xs" onclick="location='?p={{ next_page }}&ps={{ pagesize }}'">></button>
                    {% else %}
                    {% endif %}
                    {% ifequal current_page pages %}<button  type="button" class="btn btn-default btn-xs" >末页</button>
                    {% else %} <button  type="button" class="btn btn-primary btn-xs" onclick="location='?p={{ pages }}&ps={{ pagesize }}'">末页</button>
                    {% endifequal %}
                    
                当前{{ current_page }}/共{{ pages }}页
                        记录{{ hits }}条
     {% endif %}              
</div>  
</div>
<b class="b4b d1"></b><b class="b3b d1"></b><b class="b2b d1"></b><b class="b1b"></b>
</div>
</div>

<div style="clear:both"></div>
{% endblock %}