{% extends "user_base.html" %} 
 {% block userdefine %}
 <title>发表新的博客</title>
 <style>
  #addblog table{font-size:14px;}
  #articletitle{-moz-user-select: none;}
  .title{width:320px;}
  #equalcontent{ margin:5px 0;width:200px;height:20px;display:block;overflow:hidden;background-color:transparent;border:1px solid white;}
 </style>
<script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
	selector: "textarea",
    width:"auto",
    height:"150",
	plugins: [
		"advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
		"searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
		"table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern example example_dependency"
	],

	toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
	toolbar2: "cut copy paste pastetext | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime | forecolor backcolor",
	toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft preview example example_dependency",

	menubar: false,
	toolbar_items_size: 'small',

	style_formats: [
		{title: 'Bold text', inline: 'b'},
		{title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
		{title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
		{title: 'Example 1', inline: 'span', classes: 'example1'},
		{title: 'Example 2', inline: 'span', classes: 'example2'},
		{title: 'Table styles'},
		{title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
	],

	templates: [
		{title: 'Test template 1', content: '<b>Test 1</b>'},
		{title: 'Test template 2', content: '<em>Test 2</em>'}
	]
});
$(document).ready(function() {
	$("input#articletitle").blur(function(){
		 var articletitle = $.trim($("input#articletitle").val());
		 var atlen =articletitle.length;
		 if(atlen<6){
			 $('label#articletitle_errors').html('<font color="red"><span>少于6个字符!</span></font>');
		 }else{
			 $('label#articletitle_errors').html('<font color="green"><span>文章标题正确</span></font>');
		 }
	 });
	$("select#articletype").blur(function(){
		 var articletype = $.trim($("select#articletype").val());
		 var actlen =articletype.length;
		 if(actlen==''){
			 $('label#articletype_errors').html('<font color="red"><span>请选择类型！</span></font>');
		 }else{
			 $('label#articletype_errors').html('<font color="green"><span>类型已选择</span></font>');
		 }
	 });
	$("input#equalcontent").focus(function(){
		 var articlecontent = tinymce.get('articlecontent').getContent({format: 'raw'});
		 var aclen =articlecontent.length;
		 $('input#equalcontent').attr("value",aclen);
		 if(aclen<=91){
			 $('label#articlecontent_errors').html('<font color="red"><span>不能少于20字！</span></font>');
		 }else{
			 $('label#articlecontent_errors').html('<font color="green"><span>准备提交吧！</span></font>');
		 }
	 });
	$("input#addblog").click(function(check){
		var articleccontent = tinymce.get('articlecontent').getContent({format: 'raw'});
		var acclen =articleccontent.length;
		var atype = $.trim($("select#articletype").val());
		var atitle = $.trim($("input#articletitle").val());
		if(atitle==""){
			 alert("文章标题没有写！");
			 $("#articletitle").focus();
			 check.preventDefault();//此处阻止提交表单 
			 $('label#articletitle_errors').html('<font color="red"><span>不能少于20字！</span></font>');
		}
		if(atype==""){
			 alert("文章类型没有选择！");
			 $("#articletype").focus();
			 check.preventDefault();//此处阻止提交表单 
			 $('label#articletype_errors').html('<font color="red"><span>不能少于20字！</span></font>');
		}
		if(acclen<=91){
			 alert("文章内容少于20字！不能提交表单！");
			 $("#articlecontent").focus();
			 check.preventDefault();//此处阻止提交表单 
			 $('label#articlecontent_errors').html('<font color="red"><span>不能少于20字！</span></font>');
		 }
	});
	$("input#ImageField").change(function(){
		$("label#upload_tips").html('');
		var filepath=$("#ImageField").val(); 
		var arr=filepath.split('\\');//注split可以用字符或字符串分割 
		var my=arr[arr.length-1];//这就是要取得的图片名称   
		var extStart=filepath.lastIndexOf("."); 
		var ext=filepath.substring(extStart,filepath.length).toUpperCase(); 
		if(filepath!=''){
		if(ext!=".BMP"&&ext!=".PNG"&&ext!=".GIF"&&ext!=".JPG"&&ext!=".JPEG"&&ext!=".TIF"){ 
			$("label#image_errors").html('<font color="red"><span>&times;&nbsp;&nbsp;图片限于bmp,png,gif,jpeg,jpg,tif格式！</span></font>'); //检测允许的上传文件类型
		     $("#UploadBtn").attr({"disabled":"True"});
		     check.preventDefault();//此处阻止提交表单 
		}else{
	    	$("label#image_errors").html('<font color="green"><span>&radic;&nbsp;&nbsp;</span></font>');
	    	$("#UploadBtn").removeAttr("disabled");
		}
		}
	    if(my.indexOf(" ")>=0){
	    	$("label#image_errors").html('<font color="red"><span>&times;&nbsp;&nbsp;文件名中有空格！</span></font>');
	    	$("#UploadBtn").attr({"disabled":"True"});
	    	check.preventDefault();//此处阻止提交表单 
	    }else{
	    	$("label#image_errors").html('<font color="green"><span>&radic;&nbsp;&nbsp;</span></font>');
	    	$("#UploadBtn").removeAttr("disabled");
	    }  
	    var file_size = 0;
        if ($.browser.msie) {
            var img = new Image();
            img.src = filepath;
            while (true) {
                if (img.fileSize > 0) {
                    if (img.fileSize >1024*1024 ) {
                    	$("label#image_errors").html('<font color="red"><span>&times;&nbsp;&nbsp;图片不大于1MB！</span></font>');
                    	$("#UploadBtn").attr({"disabled":"True"});
                    } else {
                        var num03 = img.fileSize / 1024;
                        num04 = num03.toFixed(2);
                        $("#UploadBtn").removeAttr("disabled");
                        $("#image_errors").text("图片大小为" + num04 + "KB");
                    }
                    break;
                }
            }
        } else {
            file_size = this.files[0].size;
            var size = file_size / 1024;
            if (size > 1024	) {
            	$("label#image_errors").html('<font color="red"><span>&times;&nbsp;&nbsp;上传的图片大小不能超过1M！</span></font>');
            	$("#UploadBtn").attr({"disabled":"True"});
            } else {
                var num01 = file_size / 1024;
                num02 = num01.toFixed(2);
                $("#UploadBtn").removeAttr("disabled");
                $("#image_errors").text("图片大小为" +num02 + " KB");
            }
        }
        return true;
	});
	$("button#UploadBtn").click(function(){
	if($("#ImageField").val()!=""){
		$("label#upload_tips").html('<font color="green"><span>&radic;&nbsp;&nbsp;上传大概需要花费半分钟！</span></font>');
		setTimeout(function(){ 
		$.get("http://{{ localip }}/GetNewestImg/",function(data,status){
			$("input#insertimgurl").attr("value","<img src="+data+">");
			$("#upload_tips").html('<font color="green"><span>上传成功！</span></font>');
			$("#txt").empty();
		})
		},10000);
		$("label#upload_tips").html('');
	}else{
			$("label#upload_tips").html('<font color="red"><span>&times;&nbsp;&nbsp;图片选择不能为空！</span></font>');
			check.preventDefault();//此处阻止提交表单 
		}
	});
	$("button#clearform").click(function(){
		$("#ImageField").attr("value","");
		$("#upload_tips").html('');
		$("#image_errors").html('');
		x = 0;
	});
});
</script>
<script type="text/javascript">
var x = 0
function startTime()
{
	if(x<=10)
	{
		x=x+1
        document.getElementById('txt').innerHTML="<div class='progress progress-striped active'><div id='bar' class='progress-bar progress-bar-success' role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width:"+x*10+"%;'></div></div>"
        t=setTimeout('startTime()',500)
	}
}
</script>
            <div class="clr orderNumberBar">
				<div class="fll">发表新的博客内容</div>
			</div>
 <form id="addblogform" method="post" action="http://{{ localip }}/MyBlog/submitblog/">{% csrf_token %}
 <table width="auto">
 <tbody>
 <tr>
 <td align="left"><label>标题：</label></td>
 <td><input id="articletitle" type="text" placeholder="请输入文章的标题" class="title" name="articletitle" style="-moz-user-select: none;" /></td>
 <td width="80px"><label id="articletitle_errors"></label></td>
 </tr>
 <tr>
 <td align="left" width="80px"><label>类型：</label></td>
 <td><select  id="articletype" name="articletype">
  <option selected></option>
{% for type in types %}  
  <option value ="{{ type.id }}">{{ type.typename }}</option>  
{% endfor %}  
</select> 
</td>
<td><label id="articletype_errors"></label>
</td>
 </tr>
  <tr>
 <td align="left"><label>内容：</label></td>
 <td>
 <textarea  id="articlecontent" placeholder="请在此处编辑文章内容" name="articlecontent" rows="10" cols="100"></textarea>
 </td>
 <td><label id="articlecontent_errors"></label></td>
 </tr>
 <tr>
 <td><label>输入：</label></td>
 <td> <input type="text" id="equalcontent" readonly /></td>
 <td></td>
 </tr>
 <tr>
 <td align="center"></td>
 <td align="center">
 <button class="btn btn-primary" type="submit" id="addblog">立即发表</button>
 <button class="btn btn-default" type="reset" id="rest" >清除博客</button>
 </td>
 </tr>
 </tbody>
 </table>
 </form>
 <table><tbody>
 <tr>
 <td><label>上传图片：</label></td>
 <td>
  <!-- Button trigger modal -->
<button id="up" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModalpic">
上传图片到博客中
</button>
<!-- Modal -->
 <div class="modal fade" id="myModalpic" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title" id="myModalLabel">上传图片到博客中</h4>
      </div>
      <div class="modal-body">
      <div class="file-box"> 
<form action="http://{{ localip }}/UploadImage" method="POST" enctype="multipart/form-data" target="hidden_upload"> {% csrf_token %}
<input id="insertimgurl" type="hidden" value="" size="36"/><BR/>
<label for="ImageField">文件输入（图片不超过1M）</label>
<input type="file" name="ImageField" class="file" id="ImageField" size="28"/> 
<label for="ImageField" id="image_errors"></label>
<div id="txt">
</div>
<button id="UploadBtn" type="submit" class="btn btn-primary" onclick="startTime()">上传</button>
<label for="UploadBtn" id="upload_tips"></label>
<iframe name="hidden_upload" id="hidden_upload" style="display:none;"></iframe>  
</form>  
      </div>
</div>
      <div class="modal-footer">
        <button id="clearform" type="button" class="btn btn-default" onclick="tinymce.execCommand('mceInsertContent',false,document.getElementById('insertimgurl').value);" data-dismiss="modal">插入图片</button>
      </div>
    </div>
  </div>
</div>     
 </td>
 <td></td>
 </tr>
 </tbody>
 </table>
</body>
 {% endblock %}