{% extends "user_base.html" %} 
 {% block userdefine %}
<title>管理我的图片</title>
<script src="/site_medias/js/jquery-1.8.2.min.js"></script>  
<script type="text/javascript">  
    var $182 = $;//新的命名  
</script>
<script src="/site_medias/js/jquery.min.js"></script> 
<script type="text/javascript">  
    var $1302 = $;//新的命名  
</script>  
<script type="text/javascript">
$182(document).ready(function() {
	var ltype=getQueryString('listtype');
	if(ltype=='private'){
		$182("#privatebtn").hide();
		$182("#publicbtn").show();	
		$182("#showprivate").hide();
		$182("#showpublic").show();
	}else{
		$182("#publicbtn").hide();
		$182("#privatebtn").show();
		$182("#showprivate").show();
		$182("#showpublic").hide();
	}
	$("input#pcheckall").click(function(){
		if($182(this).attr("checked") == "checked") { // 全选 
			$182("input[name='pcheckid']").each(function(){
				$182(this).attr("checked", true);
			});	
		}else{  //取消全选
			$182("input[name='pcheckid']").each(function(){ 
				$182(this).attr("checked", false);
			}); 
		}
	});
});
</script>
<link href="/site_medias/css/lrtk.css" rel="stylesheet" type="text/css" />
<link href="/site_medias/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/site_medias/js/lrtk.js"></script>
<script type="text/javascript" src="/site_medias/js/clipboard.min.js"></script>
<script>
    var clipboard = new Clipboard('.btn');

    clipboard.on('success', function(e) {
        console.log(e);
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });
  </script>
<script type="text/javascript">
function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]); return null;
}
</script>
<div id="maincontent" style="margin-top:5px;">
 <b class="b1"></b><b class="b2 d1"></b><b class="b3 d1"></b><b class="b4 d1"></b>
<div class="b d1 k">
            <div class="clr orderNumberBar">
				<div class="fll">管理我的图片</div>
			</div>
<form name="updatephotoform" action="http://{{ localip }}/updatephoto/" method="get">
<p> <a id="showprivate" class="block" href="?listtype=private">显示私密照片</a>&nbsp;&nbsp;&nbsp; <a id="showpublic" class="block" href="?listtype=all">显示公开照片</a></p>
<p><span>全选<input id="pcheckall" type="checkbox" /></span>
<span><button id="privatebtn" type="submit" class="btn btn-primary  btn-xs" >设为私密照片</button></span>
<span><button id="publicbtn" type="submit" class="btn btn-primary  btn-xs" >设为公开照片</button></span></p>
<div class="common">
  <ul>
  {% for p in photos %}
    <li class="listbox mr20">
      <div class="listimg"><a id="imgbox{{p.id}}" href="{{p.imageurl}}"><img src="{{p.imageurl}}" class="attachment-thumbnail wp-post-image"/></a>
        <div class="summary">
          <div class="summarytxt">
            <p>........................放到我文章中.........................</p>
          </div>
        </div>
      </div>
      <div class="listinfo">
        <div class="listtitle"><a href="#" >{{p.imagename}}</a></div>
        <div class="listtag"><a href="#" rel="tag">选中<input value="{{ p.id }}" name="pcheckid" id="pcheckid_{{ mpost.id }}" type="checkbox" /></a><a href="{{p.imageurl}}" rel="tag">原图</a></div>
        <div class="listdate">{{p.uploadtime|date:"Y-n-d"}}</div>
        <div class="listview">{{p.imagesize}}KB</div>
          <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">图床</button>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					在论坛中使用图床链接
				</h4>
			</div>
			<div class="modal-body">
			<form class="form-horizontal" role="form" id="form" name="form">
			<label for="name{{p.id}}" class="col-sm-2 control-label">原始链接</label>
			<div class="col-sm-2">
			<button class="btn" data-clipboard-action="copy" data-clipboard-target="#name{{p.id}}">复制</button>
			</div>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="name{{p.id}}" value="{{p.imageurl}}" onClick="this.select()">
			 </div>
			 <label for="uname{{p.id}}" class="col-sm-2 control-label">UBB代码</label>
			 <div class="col-sm-2">
			 <button class="btn" data-clipboard-action="copy" data-clipboard-target="#uname{{p.id}}">复制</button>
			 </div>
			 <div class="col-sm-8">          
				<input type="text" class="form-control" id="uname{{p.id}}" value="[img]{{p.imageurl}}[/img]" onClick="this.select()">
			 </div>
			  <label for="hname{{p.id}}" class="col-sm-2 control-label">htm代码</label>
			  <div class="col-sm-2">
			  <button class="btn" data-clipboard-action="copy" data-clipboard-target="#hname{{p.id}}">复制</button>
			  </div>
			  <div class="col-sm-8">
				<input type="text" class="form-control" id="hname{{p.id}}" value="<img src='{{p.imageurl}}' />" onClick="this.select()">
			 </div>
			</div>
			</form>
			<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
    </li>
<script src="/site_medias/js/jquery.imgbox.pack.js"></script>
<script>
$1302(function(){
	$1302("#imgbox{{p.id}}").imgbox({
	    'speedIn'		: 0,
		'speedOut'		: 50,
		'alignment'		: 'center',
		'overlayShow'	: true,
		'allowMultiple'	: false,
	});
});
</script>
    {%endfor%}
  </ul>
</div>
 <div id="fenye" style="padding-top:20px;clear:both;">
  {% if is_paginated %}
                    {% ifequal current_page 1 %}<button  type="button" class="btn btn-default btn-xs" >首页 </button>
                    {% else %} <button  type="button" class="btn btn-primary btn-xs" onclick="location='?listtype={{ type }}&p=1'">首页</button>
                    {% endifequal %}
                    {% if has_previous %} <button  type="button" class="btn btn-primary btn-xs" onclick="location='?listtype={{ type }}&p={{ previous_page }}'"><</button>
                    {% else %} 
                    {% endif %}
                    {% for p in page_numbers %}
                    {% ifequal current_page p %}
                        <button  type="button" class="btn btn-default btn-xs" >{{ current_page }}</button>   
                    {% else %}
                        <button  type="button" class="btn btn-primary btn-xs" onclick="location='?listtype={{ type }}&p={{ p }}'">{{ p }}</button>  
                    {% endifequal %}
                    {% endfor %}                    
                    {% if has_next %}<button  type="button" class="btn btn-primary btn-xs" onclick="location='?listtype={{ type }}&p={{ next_page }}'">></button>
                    {% else %}
                    {% endif %}
                    {% ifequal current_page pages %}<button  type="button" class="btn btn-default btn-xs" >末页</button>
                    {% else %} <button  type="button" class="btn btn-primary btn-xs" onclick="location='?listtype={{ type }}&p={{ pages }}'">末页</button>
                    {% endifequal %}
                    
                当前{{ current_page }}/共{{ pages }}页
                        记录{{ hits }}条
     {% endif %}              
</div>   
</form>  
</div>                                      
<b class="b4b d1"></b><b class="b3b d1"></b><b class="b2b d1"></b><b class="b1b"></b>
</div> 
<div style="clear:both"></div>
{% endblock %}