<html>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="../static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../static/bootstrap/dist/js/bootstrap.min.js"></script>
<body>
<div class="container">
<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="{{ local }}/">OligoDesigner V1.0</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a href="#">bDNA探针设计</a></li>
         <li><a href="#">二次开发</a></li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               OEM <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="{{ local }}/probedesign/">探针设计</a></li>
               <li><a href="#">科研服务</a></li>
               <li><a href="#">系统开发</a></li>
               <li class="divider"></li>
               <li><a href="#">AP探针设计</a></li>
               <li class="divider"></li>
               <li><a href="#">放大系统定制</a></li>
            </ul>
         </li>
      </ul>
   </div>
</nav>
 {% block content %}
 <!-- 此处为模板引用位置 -->
 {% endblock %}
<div id="footer">
<p align="center">版权所有，侵权必究@2015 郑州艾斯亚生物科技有限公司</p>
</div>
</div>
</body>
</html>