{% extends "base.html" %} 
 {% block content %}
 <title>从GenBank文件中解析</title>

<div class="panel panel-success">
 <div class="panel-heading">
        <b><em>CE-LE 交叉反应</em>说明</b>
    </div>
    <div class="panel-body">
<form action="http://{{ local }}/xmltoentrez/" method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
<div class="col-sm-10">
<input class="form-control" type="file" name="file" accept=".gb,.fasta" >
</div>
<div class="col-sm-2">
<button class="btn-primary btn" type="submit">解析</button>
</div>    
</form>
</div>
</div>
<!-- /#mainWrap -->
 {% endblock %}