{% extends "base.html" %} 
 {% block content %}
 <title>预定QuantiMAT TM RNA检测试剂盒</title>
<style>
table{table-layout:fixed;}
td{word-break:break-all;word-wrap:break-word;overflow:hidden;text-align:left;}
</style>
<div class="panel panel-info" style="margin-top:20px;height:auto;">
<div class="panel-heading">
        <b>QuantiMAT TM RNA检测试剂盒预定产品信息</b>
</div>
<!-- 图片在右边显示-->
 
 <div class="row">
    <div class="col-sm-12 col-md-6">
         <div class="thumbnail">
            <img width="500" src="http://www.probedesigner.cn/static/images/214925@2x.png" 
             alt="通用的占位符缩略图">
            <div class="caption">
                <h3>规格：50测试/套</h3>
                <p>货号：QM1050</p>
                <p>货期：1周</p>
                <p>运输：干冰+冷链</p>
                <p>质保期：一年</p>
                <p>价格：￥7000</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        预订产品
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        加入购物车
                    </a>
                </p>
            </div>
         </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="thumbnail">
            <img width="500" src="http://www.probedesigner.cn/static/images/214925@2x.png" 
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>规格：100测试/套</h3>
                <p>货号：QM10100</p>
                <p>货期：1周</p>
                <p>运输：干冰+冷链</p>
                <p>质保期：一年</p>
                <p>价格：￥13000</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        预订产品
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        加入购物车
                    </a>
                </p>
            </div>
        </div>
    </div>
 
</div>
<br>
{% endblock %}