{% extends "base.html" %} 
 {% block content %}
 <title>预定QuantiMAT TM RNA检测试剂盒</title>
<style>
table{table-layout:fixed;}
td{word-break:break-all;word-wrap:break-word;overflow:hidden;text-align:left;}
</style>
<div class="panel panel-info" style="margin-top:20px;height:auto;">
<div class="panel-heading">
        <b>预定产品信息</b>
</div>
<!-- 图片在右边显示-->
    <div class="row" style="width:500px">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">QuantiMAT TM RNA检测试剂盒</h4>
                <p>技术特点介绍：
首先裂解样本，释放出目标RNA；
然后加入探针组，捕获延伸探针的一部分与孔板底部的通用探针结合， 另一部分与目标RNA结合。“K ”型标记延伸探针与目标RNA 结合。 还有一个封闭探针用来封闭一些位点提高特异性。
探针组杂交后，逐步加入信号放大前体、放大体、碱性磷酸酶标记的探针和底物。一组 “K”可将信号放大400倍，一般一个目标 RNA 会结合20组 “K”，所以一个RNA 目标会被放大8000倍。最后用化学发光分析仪检测。
定量检测可以得到实际的倍数差异,而不是CT的变化结果更直接准确。
                </p>
            </div>
            <a href="#" class="media-right">
                <img src="user_photo.png" width="100"/>
            </a>
        </div>
    </div>
</div>

<!-- /#mainWrap -->
{% endblock %}