{% extends "base.html" %} 
 {% block content %}
 <title>QuantiMAT技术原理简介</title>
 <div class="container">
 <div class="panel panel-primary">
    <div class="panel-heading">
        <b><em>OligoDesigner</em>QuantiMAT工作原理示意图</b>
    </div>
    <div class="panel-body">
    <h3>QuantiMAT技术详解及技术示意图：对应产品 QuantiMAT TM single Platform。</h3>
        <p><img src="http://kkds1314-img1.stor.sinaapp.com/QM.png" /></p>
    <ul>
    <li>	首先裂解样本，释放出目标RNA；</li>
    <li>	然后加入探针组，捕获延伸探针的一部分与孔板底部的通用探针结合， 另一部分与目标RNA结合。“K ”型标记延伸探针与目标RNA 结合。 还有一个封闭探针用来封闭一些位点提高特异性。</li>
    <li>	探针组杂交后，逐步加入信号放大前体、放大体、碱性磷酸酶标记的探针和底物。一组 “K”可将信号放大400倍，一般一个目标 RNA 会结合20组 “K”，所以一个RNA 目标会被放大8000倍。最后用化学发光分析仪检测。</li>
    <li>	定量检测可以得到实际的倍数差异,而不是CT的变化结果更直接准确。</li>
    <li>	灵敏度比TaqMan高100~1000倍。</li>
    </ul>
    </div>
    <div class="panel panel-primary">
    <div class="panel-heading">
        <b><em>OligoDesigner</em>QuantiMAT TM Magnetic Beads工作原理示意图</b>
    </div>
    <div class="panel-body">
    <h3>基于磁珠平台的QuantiMAT TM Magnetic Beads灵敏度更高，对于某些特定基因达到50 copies/基因</h3>
        <p><img src="http://kkds1314-img1.stor.sinaapp.com/QMMB5.png" /></p>
    </div>
</div>
 </div>
<!-- /#mainWrap -->
{% endblock %}