{% extends "base.html" %} 
 {% block content %}
 <title>CE和LE探针的NSH结果</title>
<style></style>
 <div class="container">
 <div class="well">
 {{CE_plist}}
 </div>
 <div class="well">
 {{LE_plist}}
 </div>
 <div class="well">
 {{BL_plist}}
 </div>
  <div class="well">
  <div class="container">
  <div class="row">LE序列</div>
   <div class="row">
      <div class="col-sm-4">CE序列</div>
      <div class="col-sm-8">比分值</div>      
   </div>
</div>
    
  </tbody>
</table>
 </div>
  <!-- /#mainWrap -->
{% endblock %}