{% extends "base.html" %} 
 {% block content %}
 <title>显示X-mer计算结果</title>

<div style="margin-top:20px;">
<table class="table"  style="word-break:break-all; word-wrap:break-all;"> 
  <caption><h3><b>显示X-mer计算结果</b></h3></caption>
  <thead>
    <tr>
      <th width="15%" text-align="center">项目</th>
      <th width="35%" text-align="center">数据</th>
      <th width="15%" text-align="center">项目</th>
      <th width="35%" text-align="center">数据</th>
      </tr>
  </thead>
  <tbody>
    <tr class="active">
      <td width="15%">最长连续公共序列结果:</td>
      <td width="35%" style="word-break:break-all; word-wrap:break-all;">{{x4merlcs}}</td>
      <td width="15%">间距算法序列长度：</td>
      <td width="35%">{{x4merlcslen}}</td></tr>
    <tr class="success">
      <td>通用序列信息：</td>
      <td style="word-break:break-all; word-wrap:break-all;">{{uni_seq}}</td>
      <td>探针序列信息：</td>
      <td>{{calc_seq}}</td></tr>
      <tr class="active">
      <td width="15%">Xmer结算结果:</td>
      <td width="35%" style="word-break:break-all; word-wrap:break-all;">{{x4mers}}</td>
      <td width="15%">x-mer1：</td>
      <td width="35%">{{x4mer1}}----Score值：{{score_x4mer1}}</td></tr>
    <tr class="success">
      <td>x-mer2：</td>
      <td style="word-break:break-all; word-wrap:break-all;">{{x4mer2}}---Score值：{{score_x4mer2}}</td>
      <td>Xmer的NSH值：</td>
      <td>{{}}</td></tr>
  </tbody>
</table>

</div>
<!-- /#mainWrap -->
 {% endblock %}