{% extends "base.html" %} 
 {% block content %}
 <title>显示X-mer计算结果</title>

<div style="margin-top:20px;">
<table class="table"  style="word-break:break-all; word-wrap:break-all;"> 
  <caption><h3><b>作为<em>CE</em>探针的NSH计算结果</b></h3></caption>
  <thead>
    <tr>
      <th width="15%" text-align="center">项目</th>
      <th width="35%" text-align="center">数据</th>
      <th width="15%" text-align="center">项目</th>
      <th width="35%" text-align="center" colspan="2">数据</th>
      </tr>
  </thead>
  <tbody>
    <tr class="active">
      <td width="15%">与AMPLeader的LCS:</td>
      <td width="35%" style="word-break:break-all; word-wrap:break-all;">{{x4merlcs_Aleader}}</td>
      <td width="15%">AMPLeader的levenshtein：</td>
      <td width="35%" colspan="2">{{x4merlcslen_Aleader}}</td></tr>
    <tr class="success">
      <td>AMPLeader通用序列信息：</td>
      <td style="word-break:break-all; word-wrap:break-all;">{{uni_Aleader_seq}}</td>
      <td>探针序列信息：</td>
      <td colspan="2">{{calc_seq}}</td></tr>
      <tr class="active" >
      <td width="15%">AMPLeader的4-mers:</td>
      <td width="35%" style="word-break:break-all; word-wrap:break-all;">{{x4mer_Aleaders}}</td>
      <td width="15%">AMPLeader的x-mer计算结果：</td>
      <td width="15%">{%for x in x4mer_Aleader%}<li>{{x}}</li>{%endfor%} </td>
      <td width="20%">{%for y in score_x4mer_Aleader%}<li>{{y}}</li>{%endfor%} </td></tr>
      <tr class="danger">
      <td>AMParms通用序列信息：</td>
      <td style="word-break:break-all; word-wrap:break-all;">{{uni_Aarms_seq}}</td>
      <td>探针序列信息：</td>
      <td colspan="2">{{calc_seq}}</td></tr>
      <tr class="success">
      <td width="15%">Aarms的4-mers:</td>
      <td width="35%">{{x4mer_Aarmss}}</td>
      <td width="15%">Aarms的x-mer计算结果：</td>
      <td width="15%">{%for x in x4mer_Aarms%}<li>{{x}}</li>{%endfor%}</td>
      <td width="20%">{%for y in score_x4mer_Aarms%} <li>{{y}}</li>{%endfor%}</td></tr>
      <tr class="danger">
      <td>AP Probes通用序列信息：</td>
      <td style="word-break:break-all; word-wrap:break-all;">{{uni_AP_seq}}</td>
      <td>探针序列信息：</td>
      <td colspan="2">{{calc_seq}}</td></tr>
      <tr class="info">
      <td width="15%">APs的4-mers:</td>
      <td width="35%">{{x4mer_APs}}</td>
      <td width="15%">AP的x-mer计算结果：</td>
      <td width="15%">{%for x in x4mer_AP%}<li>{{x}}</li>{%endfor%}</td>
      <td width="20%">{%for y in score_x4mer_AP%}<li>{{y}}</li>{%endfor%}</td></tr>
      <tr class="success">
      <td>PSCP通用序列信息：</td>
      <td style="word-break:break-all; word-wrap:break-all;">{{uni_PSCP_seq}}</td>
      <td>探针序列信息：</td>
      <td colspan="2">{{calc_seq}}</td></tr>
      <tr class="danger">
      <td width="15%">PSCPs的4-mers:</td>
      <td width="35%">{{x4mer_PSCPs}}</td>
      <td width="15%">PSCP的x-mer计算结果：</td>
      <td width="15%"> {%for x in x4mer_PSCP%}<li>{{x}}</li>{%endfor%}</td>
      <td width="20%">{%for y in score_x4mer_PSCP%}<li>{{y}}</li>{%endfor%}</td></tr>
      <tr class="info">
      <td width="20%">AMPleader(6X)：{{NSH_Score_Aleader}}</td>
      <td width="20%">AMParms(20X)：{{NSH_Score_Aarms}}</td>
      <td width="20%">AP Probes(1X)：{{NSH_Score_AP}}</td>
      <td width="15%">LE&PSCP(6X)：{{NSH_Score_PSCP}}</td>
      <td width="25%">NSH:{{Total_NSH}}</td></tr>
  </tbody>
</table>

</div>
<!-- /#mainWrap -->
 {% endblock %}