{% extends "base.html" %} 
 {% block content %}
 <title>NonNSHFilter结果</title>
 <div class="container">
 <div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">
            引物索引
        </h4>
    </a> 
 {% for key,value in probelist.items %}
    <a href="#" class="list-group-item" style="word-break:break-all;word-wrap:break-word;overflow:hidden;text-align:left;">
        <span class="badge">
            {{key}}
        </span>
            {{probedict}}
    </a>
{% endfor %}
</div></div>
 <!-- /#mainWrap -->
{% endblock %}