{% extends "base.html" %} 
 {% block content %}
 <title>X4merCalculate结果</title>
<style></style>
 <div class="container">
 <div class="well">
<form action="http://{{local}}/ProbeSetsXmer/" method="POST" role="form" class="form-horizontal" >{% csrf_token %}

<table class="table table-condensed">
  <b><h5><caption>探针X4mer与通用序列的比对计算结果</caption></h5></b>
  <thead>
    <tr>
      <th>探针编号</th>
      <th>作为CE的x4mer值</th>
      <th>作为LE的x4mer值</th>
      <th>CE单选框</th>
      <th>LE单选框</th>
      <th>BL单选框</th>
      <th>备注</th></tr>
  </thead>
  <tbody>
  {% for pxl in probe_xmer_list %}
    <tr>
      <td>
      <label for="pkey" class="control-label">{{pxl.0}}</label>
      <input type="hidden" style="width:25%" class="form control" name="pkey" value="{{pxl.0}}" readonly="readonly"/>
      </td>
      {% if pxl.1.0.0 > 26 %}
      <td><font color="red"><b>{{pxl.1.0.0}}</b></font></td>
      {% else %}
      <td>{{pxl.1.0.0}}</td>
      {% endif %}
       {% if pxl.1.0.1 > 16 %}
      <td><font color="red"><b>{{pxl.1.0.1}}</b></font></td>
      {% else %}
      <td>{{pxl.1.0.1}}</td>
      {% endif %}
      {% if pxl.1.0.0 > 26 %}
      <td><label class="checkbox-inline"><input type="checkbox" onclick="return false" name="CEcheck" checked value="NCE">不可用</label></td>
      {% else %}
      <td><label class="checkbox-inline"><input type="checkbox" name="CEcheck" value="CE">CE</label></td>
     {% endif %}
     {% if pxl.1.0.1 > 16 %}
      <td><label class="checkbox-inline"><input type="checkbox" onclick="return false" name="LEcheck" checked value="NLE">不可用</label></td>
      {% else %}
      <td><label class="checkbox-inline"><input type="checkbox" name="LEcheck" value="LE">LE</label></td>
      {% endif %}  
      <td><label class="checkbox-inline"><input type="checkbox" name="BLcheck" value="BL">BL</label></td>
      <td><input type="hidden" style="width:25%" class="form control" name="pindex" value="{{pxl.1.1}}" readonly="readonly"/></td>
    <tr>
   {%endfor%}
  </tbody>
</table>
<button type="submit" class="btn btn-primary" style="text-shadow: black 5px 3px 3px;"><span class="glyphicon glyphicon-step-forward"></span>计算选定的各组探针间的x-mer值</button>
</form>
 </div>
 </div>
  <!-- /#mainWrap -->
{% endblock %}