{% extends "base.html" %} 
 {% block content %}
 <title>X4merCalculate结果</title>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<style></style>
 <div class="container">
 <div class="well">
 {{probe_xmer_dict}}
<form>
<table class="table table-condensed">
  <caption><b><h5>探针X4mer计算结果</h5></b></caption>
  <thead>
    <tr>
      <th>探针编号</th>
      <th>作为CE的x4mer值</th>
      <th>作为LE的x4mer值</th>
      <th>CE单选框</th>
      <th>LE单选框</th>
      <th>BL单选框</th></tr>
  </thead>
  <tbody>
  {% for key,value in probe_xmer_dict.items %}
    <tr>
      <td>{{key}}</td>
      <td>{{value.0}}</td>
      <td>{{value.1}}</td>
      <td><label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox1" value="CE">CE
          </label>
     </td>
      <td><label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox2" value="LE">LE
          </label></td>
      <td><label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox3" value="BL">BL
          </label></td>
    <tr>
   {%endfor%}
  </tbody>
</table>
</form>
 </div>
 </div>
  <!-- /#mainWrap -->
{% endblock %}