{% extends "base.html" %} 
 {% block content %}
 <title>NonNSHFilter结果</title>
 <div class="container">
 <div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">
            引物索引
        </h4>
    </a>
{% for  p in probedict %}  
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
            免费域名注册
        </h4>
        <p class="list-group-item-text">
            {{p.id}}
        </p>
    </a>
 {% endfor %}
</div></div>
 <!-- /#mainWrap -->
{% endblock %}