{% extends "base.html" %} 
 {% block content %}
 <title>SightRNA技术原理介绍</title>
 <div class="container">
 <div class="panel panel-primary">
    <div class="panel-heading">
        <b><em>SightRNA 2.0</em>技术原理介绍</b>
    </div>
    <div class="panel-body">
    <ul>   一、技术特点：
    <li>A、SightRNA 是一种新型 RNA原位杂交技术，融合了传统RNA原   位杂交技术与FISH技术的优点。</li>
    <li>B、可以在单细胞中对多个目标基因低拷贝乃至单拷RNA做出检测。</li>
    <li>C、整个实验流程与FISH相似，但时间大大缩短。</li>
    </ul>
    <ul>  二、技术原理： 
     <li>A、通过支链DNA信号放大树对捕获靶标进行400倍的放大。</li>
     <li>B、探针配对设计--探针设计遵循两两配对、协同捕获的原则，所有原位杂交的cDNA探针都不是孤立存在，需要同配对的探针两两配合，与支链DNA放大树结构结合。</li>
    <li>C、双“N”型探针结构选择性与靶标探针结合，大大降低了非特异性反应，使特异性、信噪比极大提高。</li>
    </ul>
        <img src="http://www.kunkundashen.cn/site_medias/upload/2018-09-13/20180913093554_95.png"  class="img-thumbnail" />
    </div>
  </div>
  
   <div class="panel panel-primary">
    <div class="panel-heading">
        <b><em>SightRNA 2.0</em>技术典型应用</b>
    </div>
    <div class="panel-body">
    <ul>在CTCs检测中的应用；</ul>
    <ul>在ISH组织检测中的应用；</ul>
    <ul>在ISH细胞检测中的应用；</ul>
    <ul>全自动免疫组化解决方案(Dako)</ul>
        <img src="https://partnering.tecan.com/hs-fs/hubfs/page_images/Partner/Dako_omnis-234431-edited.jpg"  class="img-thumbnail" />
    </div>
  </div>
   <div class="panel panel-primary">
    <div class="panel-heading">
        <b><em>SightRNA 2.0</em>细胞检测流程</b>
    </div>
    <div class="panel-body">
    <ul>SightRNA Tissue/Cell workflow</ul>
        <img style="text-align:center;" src="../site_medias/images/SightRNA-workflow.gif"  class="img-thumbnail" />
    </div>
  </div>
     <div class="panel panel-primary">
    <div class="panel-heading">
        <b><em>SightRNA 2.0</em>半自动原位杂交仪</b>
    </div>
    <div class="panel-body">
    <ul>SH2000原位杂交仪器</ul>
        <img src="http://www.kunkundashen.cn/site_medias/upload/2018-09-13/20180913101102_38.png"  class="img-thumbnail" />
    </div>
  </div>
  </div>
<!-- /#mainWrap -->
{% endblock %}