{% extends "base.html" %} 
{% block content %}
 <title>多序列比对（Multiple sequence alignment）</title>
<script>
    $(function(){
        // 添加选项
        $("#opbtn").click(function(){
            if($("#opts>li").size() < 10){// 最多添加6个选项
                $("#opts").append('<li><label>Alignment序列</label><textarea rows="auto" name="seqtxt" class="form-control">\n'+
                                  '</textarea>\n'+                                  
                                  '</li>');
            }else{// 提示选项个数已经达到最大
                $("#optips").html("最多支持10个序列Alignment,不能再添加!");
                $("#optips").css({"color":"red"});
            }
            
        });
        
        // 删除选项
        $("#delbtn").click(function(){
            if($("#opts>li").size() <= 2){
                $("#optips").html("最低需要2个序列alignment，已经没有选项可以删除了!");
                $("#optips").css({"color":"red"});
            } else{
                // 删除选项,每次删除最后一个
                $("#opts>li").last().remove();
            }
            
        });
        
        
        
    });
    //textarea自适应高度
    
</script>
<style>
    *{
        margin: 0px;
        padding: 0px;
    }
    
    #dv{
        width: 100px;
        height: 100px;
        background-color: yellow;
        margin: 0px auto 0px;
    }
    
</style>

<div class="panel panel-info" >
<div class="panel-heading">
<b>多序列比对（Multiple sequence alignment）</b>
</div>

<div class="container" style="padding:20px;height:auto;">

<form action="http://{{local}}/tools/msaresult/" method="POST" role="form">{% csrf_token %}
<ol id="opts" type="1">
<li>
<label>Alignment序列</label>
<textarea id="textarea" rows="auto" name="seqtxt" class="form-control" >

</textarea>
</li>
<li>
<label>Alignment序列</label>
<textarea id="textarea" rows="auto" name="seqtxt" class="form-control" >

</textarea>
</li>
</ol>
<br/>
 <span id="optips"></span>
 <br>
        <button id="opbtn" type="button"  class="btn btn-info"> <span class="glyphicon glyphicon-plus"></span> 添加Alignment选项</button>
        <button id="delbtn" type="button"  class="btn btn-info"> <span class="glyphicon glyphicon-minus"></span> 删除Alignment选项</button>
</div>
<div style="text-align:center;margin-bottom:10px;">
<button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-step-forward"></span>提交比对</button>
<button type="reset" class="btn btn-primary" ><span class="glyphicon glyphicon-trash"></span>清除比对</button>
</div>
</form>
<div>
<ol>
<li>1、注意提交alignment的序列长度必须一致！</li>
<li>2、请自动剔除除碱基以外的字符信息！</li>
</ol>
</div>
</div>

</div>
{% endblock %}