{% extends "base.html" %} 
{%block content%}
<title>SightRNA探针信息检索</title>
 <style>
.product-description,
 {
  float: left;
  width: 600px;
}

.product-description dt,
.product-description dd,{
 margin-bottom: 5px;
}

dd .info{
display:inline;

}

.product-description dt,
.product-description td.heading {
  clear: both;
  float: left;
  font-weight: bold;
  width: 35%;
}
 </style> 
 
 <div class="panel panel-info" >
<div class="panel-heading">
        <b>可用探针检索信息工具（截至目前收录物种基因数据记录达454248条）</b>
</div>
<div class="container" style="padding:20px;height:auto;"> 

<form role="form" action="http://{{local}}/sightrnasearch/" method="POST">{% csrf_token %}


<div class="form-group has-success">
  <div class="col-sm-3">
    <select class="form-control">
      <option selected>[SR]SightRNA_FastRed</option>
      <option>[SRM]SightRNA_Multi</option>
    </select>
    </div>

    <div class="col-sm-3" >
    <select class="form-control" name="species">
      <option selected value="">[Hs] Human</option>
      <option value="1">[Mm] Mouse</option>
      <option value="2">[Rn] Rat</option>
      <option value="3">[At] Arabidopsis</option>
    <option value="4">[Bv] Bovine</option>
      <option value="5">[Ce] C. elegans</option>
      <option value="6">[Cf] Dog</option>
      <option value="7">[Ch] Goat</option>
      <option value="8">[Gp] Guinea pig</option>
    <option value="9">[Cg] Cricetulus griseus</option>
      <option value="10">[Dr]  Zebrafish</option>
      <option value="11">[Dm] Drosophila melanogaster</option>
      <option value="12">[Ec] Horse</option>
      <option value="13">[Gg] Chicken</option>
    <option value="14">[Gm] Soybean</option>
      <option value="15">[Hg] Naked mole-rat</option>
      <option value="16">[Mf] Cynomolgus Monkey</option>
      <option value="17">[Oa] Sheep</option>
      <option value="18">[Oc] Rabbit</option>
    <option value="19">[Os] Rice</option>
      <option value="20">[Rh] Rhesus monkey</option>
      <option value="21">[Sc] Baker's yeast </option>
      <option value="22">[Sp] Fission yeast</option>
      <option value="23">[Ss] Pig</option>
    <option value="24">[Ta] Bread wheat</option>
      <option value="25">[Vv] Wine grape</option>
      <option value="26">[Xt] Western clawed frog</option>
      <option value="27">[Zm] Maize </option>

    </select>
    </div>
</div>

<div class="form-group has-success">

<div class="col-sm-4">
      <input type="text" class="form-control" id="InputGene" name="search_text" placeholder="输入检索基因symbol">
</div>
<div class="col-sm-2">
<button type="submit" id="BtnQuery" class="btn btn-default">检索探针</button>
</div>
</div>

</form>
<br/>
<hr/>
<div class="row">
<div class="col-sm-4 col-md-3">

<div class="panel panel-success">

<div class="panel-heading">
    物种类别
    </div>
 
<div class="list-group">

<a class="list-group-item" href="?genetype=Human"><span class="badge">29101</span>人类</a>
<a class="list-group-item" href="?genetype=Mouse"><span class="badge">32476</span>小鼠</a>
<a class="list-group-item" href="?genetype=Rat"><span class="badge">23264</span>大鼠</a>
<a class="list-group-item" href="?genetype=AtArabidopsis"><span class="badge">27208</span>拟南芥</a>
<a class="list-group-item" href="?genetype=Celegans"><span class="badge">21080</span>秀丽隐杆线虫</a>
<a class="list-group-item" href="?genetype=Fruitfly"><span class="badge">14145</span>果蝇</a>
<a class="list-group-item" href="?genetype=Bovine"><span class="badge">14461</span>牛</a>
<a class="list-group-item" href="?genetype=Dog"><span class="badge">19998</span>狗</a>
<a class="list-group-item" href="?genetype=Chinesehamster"><span class="badge">21080</span>中国仓鼠</a>
<a class="list-group-item" href="?genetype=Goat"><span class="badge">21179</span>山羊</a>
<a class="list-group-item" href="?genetype=Guineapig"><span class="badge">674</span>豚鼠</a>
<a class="list-group-item" href="?genetype=Zebrafish"><span class="badge">21901</span>斑马鱼</a>
<a class="list-group-item" href="?genetype=Horse"><span class="badge">5995</span>马</a>
<a class="list-group-item" href="?genetype=Chicken"><span class="badge">9964</span>鸡</a>
<a class="list-group-item" href="?genetype=Soybean"><span class="badge">10524</span>大豆</a>
<a class="list-group-item" href="?genetype=Nakedmolerat"><span class="badge">19964</span>裸鼹鼠</a>
<a class="list-group-item" href="?genetype=CynomolgusMonkey"><span class="badge">22199</span>食蟹猴 </a>
<a class="list-group-item" href="?genetype=Sheep"><span class="badge">20784</span>绵羊</a>
<a class="list-group-item" href="?genetype=Rabbit"><span class="badge">16362</span>兔子</a>
<a class="list-group-item" href="?genetype=Rice"><span class="badge">13425</span>水稻</a>
<a class="list-group-item" href="?genetype=Rhesusmonkeyhamster"><span class="badge">23055</span>恒河猴</a>
<a class="list-group-item" href="?genetype=Bakersyeast"><span class="badge">5028</span>面包酵母</a>
<a class="list-group-item" href="?genetype=Fissionyeast "><span class="badge">5919</span>裂变酵母</a>
<a class="list-group-item" href="?genetype=Pig"><span class="badge">7351</span>猪</a>
<a class="list-group-item" href="?genetype=Breadwheat"><span class="badge">2000</span>小麦</a>
<a class="list-group-item" href="?genetype=Winegrape"><span class="badge">1029</span>葡萄</a>
<a class="list-group-item" href="?genetype=Westernclawedfrog"><span class="badge">18985</span>西爪蛙</a>
<a class="list-group-item" href="?genetype=Maize"><span class="badge">25577</span>玉米</a>
</div>
</div>

</div>
<div class="col-sm-8 col-md-9">
{% autoescape off %}
{{hots}}
{% endautoescape %}

{% for gene in genes %}
<div class="panel panel-success">

<div class="panel-heading">
 <a title="显示详细信息" href="http://{{local}}/sightrnadatabase/{{stype}}/{{gene.id}}/">[{{stype}}]-{{gene.genename}}</a>
 </div>
<div class="panel-body">

{% autoescape off %}
{{gene.genedescription}}
{% endautoescape %}

</div>
</div>
{%endfor%}

</div>

</div>

</div>
</div>
 {%endblock%}