{% extends "base.html" %} 
{%block content%}
<title>QuantiMAT探针信息检索</title>
 <style>
.product-description,
 {
  float: left;
  width: 600px;
}

.product-description dt,
.product-description dd,{
 margin-bottom: 5px;
}

dd .info{
display:inline;

}

.product-description dt,
.product-description td.heading {
  clear: both;
  float: left;
  font-weight: bold;
  width: 35%;
}
 </style> 
 
 <div class="panel panel-info" >
<div class="panel-heading">
        <b>可用探针检索信息工具</b>
</div>
<div class="container" style="padding:20px;height:auto;"> 

<form role="form" action="http://{{local}}/gdbsearch/" method="POST">{% csrf_token %}


<div class="form-group has-success">
  <div class="col-sm-2">
    <select class="form-control">
      <option selected>[GE]GeneExpress</option>
      <option>[Mr]MircoRNA</option>
    </select>
    </div>

    <div class="col-sm-2" >
    <select class="form-control" name="species">
      <option selected vlaue="">[Hs]Human</option>
      <option vlaue="1">[Ms]Mouse</option>
      <option vlaue="2">[Rn]Rat</option>
      <option vlaue="3">[AA]At Arabidopsis</option>
      <option vlaue="4">[DF]Dm Fruit fly</option>
    </select>
    </div>
</div>

<div class="form-group has-success">

<div class="col-sm-6">
      <input type="text" class="form-control" id="inputSuccess" name="search_text" placeholder="输入检索基因symbol">
</div>
<div class="col-sm-2">
<button type="submit" class="btn btn-default">检索探针</button>
</div>
</div>

</form>
<br/>
<hr/>
<div class="row">
<div class="col-sm-4 col-md-3">

<div class="panel panel-success">

<div class="panel-heading">
    物种类别
    </div>
 
<div class="list-group">

<a class="list-group-item" href="?genetype=Human"><span class="badge">28957</span>Human Genes</a>
<a class="list-group-item" href="?genetype=Mouse"><span class="badge">25674</span>Mouse Genes</a>
<a class="list-group-item" href="?genetype=Rat"><span class="badge">7953</span>Rat Genes</a>
<a class="list-group-item" href="?genetype=At_Arabidopsis"><span class="badge">1422</span>At Arabidopsis</a>
<a class="list-group-item" href="?genetype=C.elegans"><span class="badge">28957</span>C.elegans Genes</a>
<a class="list-group-item" href="?genetype=Fruit_fly"><span class="badge">8957</span>Fruit fly Genes</a>
<a class="list-group-item" href="?genetype=Bovine"><span class="badge">7953</span>Bovine Genes</a>
<a class="list-group-item" href="?genetype=Dog"><span class="badge">1422</span>Dog Genes</a>
<a class="list-group-item" href="?genetype=Chinese_hamster"><span class="badge">28957</span>Chinese hamster</a>
<a class="list-group-item" href="?genetype=Goat"><span class="badge">8957</span>Goat Genes</a>
<a class="list-group-item" href="?genetype=Rat"><span class="badge">7953</span>Guinea pig Genes</a>
<a class="list-group-item" href="?genetype=At_Arab"><span class="badge">1422</span>Zebrafish Genes</a>
<a class="list-group-item" href="?genetype=Human"><span class="badge">28957</span>Horse Genes</a>
<a class="list-group-item" href="?genetype=Mouse"><span class="badge">8957</span>Chicken Genes</a>
<a class="list-group-item" href="?genetype=Rat"><span class="badge">7953</span>Soybean Genes</a>
<a class="list-group-item" href="?genetype=At_Arab"><span class="badge">1422</span>Naked mole-rat </a>
<a class="list-group-item" href="?genetype=Human"><span class="badge">28957</span>Cynomolgus Monkey </a>
<a class="list-group-item" href="?genetype=Mouse"><span class="badge">8957</span>Sheep Genes</a>
<a class="list-group-item" href="?genetype=Rat"><span class="badge">7953</span> Rabbit Genes</a>
<a class="list-group-item" href="?genetype=At_Arab"><span class="badge">1422</span>Rice Genes</a>
<a class="list-group-item" href="?genetype=Human"><span class="badge">28957</span>Rhesus monkey hamster</a>
<a class="list-group-item" href="?genetype=Mouse"><span class="badge">8957</span>Baker's yeast Genes</a>
<a class="list-group-item" href="?genetype=Rat"><span class="badge">7953</span>Fission yeast Genes</a>
<a class="list-group-item" href="?genetype=At_Arab"><span class="badge">1422</span>Pig Genes</a>
<a class="list-group-item" href="?genetype=Human"><span class="badge">28957</span>Bread wheat Genes</a>
<a class="list-group-item" href="?genetype=Mouse"><span class="badge">8957</span>Wine grape Genes</a>
<a class="list-group-item" href="?genetype=Rat"><span class="badge">7953</span>Western clawed frog</a>
<a class="list-group-item" href="?genetype=At_Arab"><span class="badge">1422</span>Maize Genes</a>
</div>
</div>

</div>
<div class="col-sm-8 col-md-9">
{% for gene in genes %}
<div class="panel panel-success">

<div class="panel-heading">
 <a title="显示详细信息" href="http://{{local}}/geneshow/{{stype}}/{{gene.genename}}">{{stype}}-{{gene.genename}}</a>
 </div>
<div class="panel-body">

{% autoescape off %}
{{gene.genedescription}}
{% endautoescape %}

</div>
</div>
{%endfor%}
</div>

</div>

</div>
</div>
 {%endblock%}