{% extends "base.html" %} 
 {% block content %}
 
  <title>QuantiMAT探针信息检索</title>
 <div class="panel panel-info" >
<div class="panel-heading">
        <b>可用探针检索信息工具</b>
</div>
<div class="container" style="padding:20px;height:800;"> 

<form role="form" action="http://{{local}}/gdbsearch/" method="POST">{% csrf_token %}


<div class="form-group has-success">
  <div class="col-sm-2">
    <select class="form-control">
      <option selected>[GE]GeneExpress</option>
      <option>[Mr]MircoRNA</option>
    </select>
    </div>

    <div class="col-sm-2">
    <select class="form-control">
      <option selected>[Hs]Human</option>
      <option>[Ms]Mouse</option>
      <option>[Rn]Rat</option>
      <option>[AA]At Arabidopsis</option>
      <option>[DF]Dm Fruit fly</option>
    </select>
    </div>
</div>

<div class="form-group has-success">

<div class="col-sm-6">
      <input type="text" class="form-control" id="inputSuccess" name="search_text" placeholder="输入检索基因symbol">
</div>
<div class="col-sm-2">
<button type="submit" class="btn btn-default">检索探针</button>
</div>
</div>

</form>
<br/>
<hr/>
<div class="row">
<div class="col-sm-4 col-md-3">

<div class="panel panel-success">

<div class="panel-heading">
    物种类别
    </div>
    <div class="panel-body">
 
<div class="list-group">

<a class="list-group-item" href="#"><span class="badge">28957</span>Human Genes</a>
<a class="list-group-item"  href="#"><span class="badge">8957</span>Mouse Genes</a>
<a class="list-group-item"  href="#"><span class="badge">7953</span>Rat Genes</a>
<a class="list-group-item"  href="#"><span class="badge">1422</span>At Arabidopsis</a>


</div>
</div>
</div>

</div>
<div class="col-sm-8 col-md-9">
<div class="panel panel-success">


</div>
</div>

</div>

</div>
</div>
 {% endblock %}