{% extends "base.html" %} 
{%block content%}
<title>QuantiMAT探针信息检索</title>
 <style>
.product-description,
 {
  float: left;
  width: 600px;
}

.product-description dt,
.product-description dd,{
 margin-bottom: 5px;
}

dd .info{
display:inline;

}

.product-description dt,
.product-description td.heading {
  clear: both;
  float: left;
  font-weight: bold;
  width: 35%;
}
 </style> 
 
 <div class="panel panel-info" >
<div class="panel-heading">
        <b>可用探针检索信息工具</b>
</div>
<div class="container" style="padding:20px;height:auto;"> 

<form role="form" action="http://{{local}}/gdbsearch/" method="POST">{% csrf_token %}


<div class="form-group has-success">
  <div class="col-sm-2">
    <select class="form-control">
      <option selected>[GE]GeneExpress</option>
      <option>[Mr]MircoRNA</option>
    </select>
    </div>

    <div class="col-sm-2" >
    <select class="form-control" name="species">
      <option selected value="">[Hs] Human</option>
      <option value="1">[Mm] Mouse</option>
      <option value="2">[Rn] Rat</option>
      <option value="3">[At] At Arabidopsis</option>
    <option value="4">[Ce] C. elegans</option>
      <option value="5">[Dm] Fruit fly</option>
      <option value="6">[Bt] Bovine</option>
      <option value="7">[Cf] Dog</option>
      <option value="8">[Cg] Chinese hamster</option>
    <option value="9">[Ch] Goat</option>
      <option value="10">[Cp] Guinea pig</option>
      <option value="11">[Dr] Zebrafish</option>
      <option value="12">[Ec] Horse</option>
      <option value="13">[Gg] Chicken</option>
    <option value="14">[Gm] Soybean</option>
      <option value="15">[Hg] Naked mole-rat</option>
      <option value="16">[Mf] Cynomolgus Monkey</option>
      <option value="17">[Oa] Sheep</option>
      <option value="18">[Oc] Rabbit</option>
    <option value="19">[Os] Rice</option>
      <option value="20">[Rh] Rhesus monkey</option>
      <option value="21">[Sc] Baker's yeast </option>
      <option value="22">[Sp] Fission yeast</option>
      <option value="23">[Ss] Pig</option>
            <option value="24">[Ta] Bread wheat</option>
      <option value="25">[Vv] Wine grape</option>
      <option value="26">[Xt] Western clawed frog</option>
      <option value="27">[Zm] Maize </option>

    </select>
    </div>
</div>

<div class="form-group has-success">

<div class="col-sm-6">
      <input type="text" class="form-control" id="inputSuccess" name="search_text" placeholder="输入检索基因symbol">
</div>
<div class="col-sm-2">
<button type="submit" class="btn btn-default">检索探针</button>
</div>
</div>

</form>
<br/>
<hr/>
<div class="row">
<div class="col-sm-4 col-md-3">

<div class="panel panel-success">

<div class="panel-heading">
    物种类别
    </div>
 
<div class="list-group">

<a class="list-group-item" href="?genetype=Human"><span class="badge">31957</span>人类</a>
<a class="list-group-item" href="?genetype=Mouse"><span class="badge">35674</span>小鼠</a>
<a class="list-group-item" href="?genetype=Rat"><span class="badge">5015</span>大鼠</a>
<a class="list-group-item" href="?genetype=At_Arabidopsis"><span class="badge">19616</span>拟南芥</a>
<a class="list-group-item" href="?genetype=C_elegans"><span class="badge">1816</span>秀丽隐杆线虫</a>
<a class="list-group-item" href="?genetype=Fruit_fly"><span class="badge">1405</span>果蝇</a>
<a class="list-group-item" href="?genetype=Bovine"><span class="badge">9922</span>牛</a>
<a class="list-group-item" href="?genetype=Dog"><span class="badge">9286</span>狗</a>
<a class="list-group-item" href="?genetype=Chinese_hamster"><span class="badge">14962</span>中国仓鼠</a>
<a class="list-group-item" href="?genetype=Goat"><span class="badge">15909</span>山羊</a>
<a class="list-group-item" href="?genetype=Guinea_pig"><span class="badge">652</span>豚鼠</a>
<a class="list-group-item" href="?genetype=Zebrafish"><span class="badge">15317</span>斑马鱼</a>
<a class="list-group-item" href="?genetype=Horse"><span class="badge">3361</span>马</a>
<a class="list-group-item" href="?genetype=Chicken"><span class="badge">7121</span>鸡</a>
<a class="list-group-item" href="?genetype=Soybean"><span class="badge">6614</span>大豆</a>
<a class="list-group-item" href="?genetype=Naked_mole-rat"><span class="badge">1422</span>裸鼹鼠</a>
<a class="list-group-item" href="?genetype=Cynomolgus_Monkey"><span class="badge">16628</span>食蟹猴 </a>
<a class="list-group-item" href="?genetype=Sheep"><span class="badge">16279</span>绵羊</a>
<a class="list-group-item" href="?genetype=Rabbit"><span class="badge">14168</span>兔子</a>
<a class="list-group-item" href="?genetype=Rice"><span class="badge">12649</span>水稻</a>
<a class="list-group-item" href="?genetype=Rhesus_monkey_hamster"><span class="badge">19157</span>恒河猴</a>
<a class="list-group-item" href="?genetype=Bakers_yeast"><span class="badge">4512</span>面包酵母</a>
<a class="list-group-item" href="?genetype=Fission_yeast "><span class="badge">4164</span>裂变酵母</a>
<a class="list-group-item" href="?genetype=Pig"><span class="badge">6395</span>猪</a>
<a class="list-group-item" href="?genetype=Bread_wheat"><span class="badge">1823</span>小麦</a>
<a class="list-group-item" href="?genetype=Wine_grape"><span class="badge">965</span>葡萄</a>
<a class="list-group-item" href="?genetype=Western_clawed_frog"><span class="badge">15526</span>西爪蛙</a>
<a class="list-group-item" href="?genetype=Maize"><span class="badge">18830</span>玉米</a>
</div>
</div>

</div>
<div class="col-sm-8 col-md-9">
{% for gene in genes %}
<div class="panel panel-success">

<div class="panel-heading">
 <a title="显示详细信息" href="http://{{local}}/genedatabase/{{stype}}/{{gene.id}}/">[{{stype}}]-{{gene.genename}}</a>
 </div>
<div class="panel-body">

{% autoescape off %}
{{gene.genedescription}}
{% endautoescape %}

</div>
</div>
{%endfor%}

</div>

</div>

</div>
</div>
 {%endblock%}