{% extends "base.html" %} 
 {% block content %}
 
<title>探针信息检索</title>
<style>
.datatable tbody tr td {
  background-color: #F6F6F6;
}

.datatable tbody tr:nth-of-type(odd) td {
  background-color: #EEEEEE;
}

.datatable th {
  background-color: #FFFFFF;
}

.datatable td,
.datatable th {
  border: 1px solid #CCCCCC;
  padding: 5px 8px;
}

.product-description,
 {
  float: left;
  width: 550px;
}

.product-description dt,
.product-description dd,{
 margin-bottom: 5px;
}

dd .info{
display:inline;

}

.product-description dt,
.product-description td.heading {
  clear: both;
  float: left;
  font-weight: bold;
  width: 35%;
}
h2{
    font-size:140%;
    }
</style>
<link rel="stylesheet" type="text/css" href="/order/genome-database/assets/css/genomic-product-search.css?version=64&time=20180119&build-time=2019-06-05-13:55:41-CDT"/>
 <div class="panel panel-info" >
<div class="panel-heading">
<b>检索基因结果信息</b>
</div>
<div class="container" style="height:auto;"> 
{% if not genes %}
<div class="well well-sm">
<span class="glyphicon glyphicon-wrench"></span>暂未搜索到任何信息！<a href="http://{{local}}/genesearch/">返回重新搜索</a>
</div>
{%else%}
{% for gene in genes %}

<b><h3><mark>{{mnum}}</mark>的检索结果{{forloop.counter}}：</h3></b>

<div class="well well-lg">

<div class="well well-sm">
<span class="glyphicon glyphicon-star"></span><b>Gene Symbol：</b>{{gene.genename}}
</div>
<div class="well well-sm">

<span class="glyphicon glyphicon-cog"></span> <b>ProbeSets application type：</b>{{gene.geneprobetype}}

</div>
<div class="well well-sm">

{% autoescape off %}
{{gene.genedescription}}
{% endautoescape %}
</div>
<div class="well well-sm">
{% autoescape off %}
{{gene.genesectiongroup}}
{% endautoescape %}
</div>
</div>
<hr/>
{%endfor%}
{%endif%}
</div>
</div>
 {% endblock %}