{% extends "base.html" %} 
{%block content%}
<title>QuantiMAT探针信息检索</title>
 <style>
.product-description,
 {
  float: left;
  width: 600px;
}

.product-description dt,
.product-description dd,{
 margin-bottom: 5px;
}

dd .info{
display:inline;

}

.product-description dt,
.product-description td.heading {
  clear: both;
  float: left;
  font-weight: bold;
  width: 35%;
}
 </style> 
 
 <div class="panel panel-info" >
<div class="panel-heading">
        <b>可用探针检索信息工具（截至目前收录物种基因数据记录达436698条）</b>
</div>
<div class="container" style="padding:20px;height:auto;"> 

<form role="form" action="http://{{local}}/gdbsearch/" method="POST">{% csrf_token %}


<div class="form-group has-success">
  <div class="col-sm-2">
    <select class="form-control">
      <option selected>[Mr]MircoRNA</option>
    </select>
    </div>

    <div class="col-sm-2" >
    <select class="form-control" name="species">
      <option selected value="hsa">[Hs] Human</option>
      <option value="mmu">[Mm] Mouse</option>
      <option value="rno">[Rn] Rat</option>
      <option value="ath">[At] At Arabidopsis</option>
    <option value="api">[AP] Pea aphid</option>
      <option value="dme">[Dm] Fruit fly</option>
      <option value="aae">[Aa] Yellow fever mosquito</option>
      <option value="ata">[At]137 Monocots</option>
      <option value="aae">[Am]209 American alligator</option>
    <option value="atr">[At]110 Amborella</option>
      <option value="aca">[Ac]421 Green anole</option>
      <option value="ame">[Am]259 Honey bee</option>
      <option value="aly">[Ai]313 Lyrate rockcress</option>
      <option value="asu">[As]188 Pig roundworm</option>
    <option value="abu">[Ab]151  Bony fishes</option>
      <option value="bmo">[Bm]560 Domestic silkworm</option>
      <option value="bta">[Bt]794 Bovine</option>
      <option value="bdi">[Bd]437 Monocots</option>
      <option value="bbe">[Bb]173 Belchers lancelett</option>
    <option value="bfl">[Bf]185 Florida lancelet</option>
      <option value="bra">[Br]127 Field mustard</option>
      <option value="bma">[Bm]108 Agent of lymphatic filariasis</option>
      <option value="cbn">[Cb]152 Nematodes</option>
      <option value="cel">[Ce]432 CLTDOT elegans</option>
    <option value="crm">[Cr]179 Nematodes</option>
      <option value="cgr">[Cj]264 White-tufted-ear marmoset</option>
      <option value="cfa">[Cf]453 Dog</option>
      <option value="cte">[Ct]134 Segmented worms </option>
      <option value="chi">[Ch]430 Goat</option>
      <option value="cpo">[Cp]418 Guinea pig</option>
      <option value="cpi">[Cp]224 Painted turtle</option>
      <option value="cin">[Ci]547 Tunicates</option>
    <option value="cli">[Cl]239 Rock pigeon</option>
      <option value="cgr">[Cg]351 Chinese hamster</option>
      <option value="ccr">[Cc]146 Common carp</option>
      <option value="dre">[Dr]347 Zebrafish</option>
      <option value="dno">[Dn]395 Nine-banded armadillo</option>
    <option value="dps">[Dp]267 Flies</option>
      <option value="dsi">[Ds]179 Flies</option>
      <option value="dvi">[Dv]235 Flies</option>
      <option value="efu">[Ef]424 Big brown bat</option>
      <option value="eca">[Ec]686 House</option>
    <option value="fru">[Fr]107 Torafugu</option>
      <option value="gmo">[Gm]173 Atlantic cod</option>
      <option value="gga">[Gg]1016 Chicken</option>
      <option value="gma">[Gm]485 Soybean</option>
      <option value="ggo">[Gg]357 Western gorilla</option>
    <option value="gra">[Gr]246 Eudicots</option>
      <option value="gsa">[Gs]120 Gyrodactylosis fluke</option>
      <option value="hco">[Hc]192 Barber pole worm</option>
      <option value="hme">[Hm]96 Butterflies</option>
      <option value="ipu">[Ip]204 Channel catfish</option>
    <option value="mml">[Rh]900 Rhesus monkey</option>
      <option value="mse">[Ms]93 Tobacco hornworm</option>
      <option value="mtr">[Mt]426 Barrel medic</option>
      <option value="mze">[Mz]136 Zebra mbuna </option>     
       <option value="nve">[Nv]137 Starlet sea anemone</option>
      <option value="nbe">[Nb]135 Lyretail cichlid</option>
      <option value="nie">[Nl]115 Northern white-cheeked gibbon</option>
      <option value="oha">[Oh]335 King cobra</option>
    <option value="one">[On]135 Nile tilapia</option>
      <option value="oan">[Oa]633 Fruit fly</option>
      <option value="ocu">[Oc]394 Rabbit</option>
      <option value="osa">[Os]553 Rice</option>
      <option value="ola">[Ol]143 Japanese medaka</option>
    <option value="oge">[Og]103 Small-eared galago</option>
      <option value="oar">[Oa]152 Sheep</option>
      <option value="ppy">[Pp]142 Pygmy chimpanzee</option>
      <option value="ptr">[Pt]576 Chimpanzee</option>
      <option value="prd">[Pr]377 Nematodes</option>
    <option value="pma">[Pm]301 Sea lamprey</option>
      <option value="ppt">[Pp]198 Mosses</option>
      <option value="pxy">[Px]126 Diamondback moth</option>
      <option value="ppy">[Pp]136 Bornean orangutan</option>
      <option value="ptc">[Pt]253 Western balsam poplar</option>
    <option value="ppc">[Pp]548 Nematodes</option>
      <option value="ppe">[Pp]155 Peach</option>
      <option value="pal">[Pa]358 Black flying fox</option>
      <option value="pny">[Pn]125 Bony fishes</option>
      <option value="pbv">[Pb]186 Burmese python/option>
    <option value="sko">[Sk]114 Hemichordates</option>
      <option value="ssa">[Ss]478 Atlantic Salmon</option>
      <option value="sma">[Sm]225 Flatworms</option>
      <option value="sme">[Sm]256 Freshwater</option>
     
      <option value="sly">[Sl]109 Tomato</option>
      <option value="stu">[St]244 Potato</option>
      <option value="sbi">[Sb]244 Sorghum</option>
    <option value="str">[Sr]206 Nematodes</option>
      <option value="ssc">[Ss]436 Pig</option>
      <option value="tgu">[Tg]332 Zebra finchg</option>
      <option value="tni">[Tn]109 Spotted green pufferfish</option>
      <option value="tca">[Tc]424 Red flour beetle</option>
    <option value="tae">[Ta]115 Bread wheat</option>
      <option value="tch">[Tc]160 Chinese tree shrew</option>
      <option value="vvi">[Vv]119 Wine grape</option>
      <option value="xla">[Xl]125 Xenopus</option>
      <option value="xtr">[Xt]179 Western clawed frog</option>
    <option value="zma">[Gm]203 Maize</option>
     
    </select>
    </div>
</div>

<div class="form-group has-success">

<div class="col-sm-6">
      <input type="text" class="form-control" id="inputSuccess" name="search_text" placeholder="输入检索基因symbol">
</div>
<div class="col-sm-2">
<button type="submit" class="btn btn-default">检索探针</button>
</div>
</div>

</form>
<br/>
<hr/>
<div class="row">
<div class="col-sm-4 col-md-3">

<div class="panel panel-success">

<div class="panel-heading">
    物种类别
    </div>
 
<div class="list-group">

<a class="list-group-item" href="?genetype=Human"><span class="badge">2543</span>人类</a>
<a class="list-group-item" href="?genetype=Mouse"><span class="badge">1897</span>小鼠</a>
<a class="list-group-item" href="?genetype=Rat"><span class="badge">761</span>大鼠</a>
<a class="list-group-item" href="?genetype=AtArabidopsis"><span class="badge">349</span>拟南芥</a>
<a class="list-group-item" href="?genetype=Celegans"><span class="badge">463</span>秀丽隐杆线虫</a>
<a class="list-group-item" href="?genetype=Fruitfly"><span class="badge">97</span>豌豆蚜虫</a>
<a class="list-group-item" href="?genetype=Bovine"><span class="badge">124</span>黄热病蚊子</a>
<a class="list-group-item" href="?genetype=Dog"><span class="badge">12765</span>狗</a>
<a class="list-group-item" href="?genetype=Chinesehamster"><span class="badge">22085</span>中国仓鼠</a>
<a class="list-group-item" href="?genetype=Goat"><span class="badge">20912</span>山羊</a>
<a class="list-group-item" href="?genetype=Guineapig"><span class="badge">631</span>豚鼠</a>
<a class="list-group-item" href="?genetype=Zebrafish"><span class="badge">21918</span>斑马鱼</a>
<a class="list-group-item" href="?genetype=Horse"><span class="badge">4502</span>马</a>
<a class="list-group-item" href="?genetype=Chicken"><span class="badge">9352</span>鸡</a>
<a class="list-group-item" href="?genetype=Soybean"><span class="badge">8896</span>大豆</a>
<a class="list-group-item" href="?genetype=Nakedmolerat"><span class="badge">19956</span>裸鼹鼠</a>
<a class="list-group-item" href="?genetype=CynomolgusMonkey"><span class="badge">20289</span>食蟹猴 </a>
<a class="list-group-item" href="?genetype=Sheep"><span class="badge">19310</span>绵羊</a>
<a class="list-group-item" href="?genetype=Rabbit"><span class="badge">16424</span>兔子</a>
<a class="list-group-item" href="?genetype=Rice"><span class="badge">13997</span>水稻</a>
<a class="list-group-item" href="?genetype=Rhesusmonkeyhamster"><span class="badge">23085</span>恒河猴</a>
<a class="list-group-item" href="?genetype=Bakersyeast"><span class="badge">5969</span>面包酵母</a>
<a class="list-group-item" href="?genetype=Fissionyeast "><span class="badge">5262</span>裂变酵母</a>
<a class="list-group-item" href="?genetype=Pig"><span class="badge">7244</span>猪</a>
<a class="list-group-item" href="?genetype=Breadwheat"><span class="badge">1990</span>小麦</a>
<a class="list-group-item" href="?genetype=Winegrape"><span class="badge">1009</span>葡萄</a>
<a class="list-group-item" href="?genetype=Westernclawedfrog"><span class="badge">18989</span>西爪蛙</a>
<a class="list-group-item" href="?genetype=Maize"><span class="badge">26431</span>玉米</a>
<a class="list-group-item" href="?genetype=Human"><span class="badge">2543</span>人类</a>
<a class="list-group-item" href="?genetype=Mouse"><span class="badge">1897</span>小鼠</a>
<a class="list-group-item" href="?genetype=Rat"><span class="badge">20345</span>大鼠</a>
<a class="list-group-item" href="?genetype=AtArabidopsis"><span class="badge">27352</span>拟南芥</a>
<a class="list-group-item" href="?genetype=Celegans"><span class="badge">18920</span>秀丽隐杆线虫</a>
<a class="list-group-item" href="?genetype=Fruitfly"><span class="badge">13136</span>果蝇</a>
<a class="list-group-item" href="?genetype=Bovine"><span class="badge">13861</span>牛</a>
<a class="list-group-item" href="?genetype=Dog"><span class="badge">12765</span>狗</a>
<a class="list-group-item" href="?genetype=Chinesehamster"><span class="badge">22085</span>中国仓鼠</a>
<a class="list-group-item" href="?genetype=Goat"><span class="badge">20912</span>山羊</a>
<a class="list-group-item" href="?genetype=Guineapig"><span class="badge">631</span>豚鼠</a>
<a class="list-group-item" href="?genetype=Zebrafish"><span class="badge">21918</span>斑马鱼</a>
<a class="list-group-item" href="?genetype=Horse"><span class="badge">4502</span>马</a>
<a class="list-group-item" href="?genetype=Chicken"><span class="badge">9352</span>鸡</a>
<a class="list-group-item" href="?genetype=Soybean"><span class="badge">8896</span>大豆</a>
<a class="list-group-item" href="?genetype=Nakedmolerat"><span class="badge">19956</span>裸鼹鼠</a>
<a class="list-group-item" href="?genetype=CynomolgusMonkey"><span class="badge">20289</span>食蟹猴 </a>
<a class="list-group-item" href="?genetype=Sheep"><span class="badge">19310</span>绵羊</a>
<a class="list-group-item" href="?genetype=Rabbit"><span class="badge">16424</span>兔子</a>
<a class="list-group-item" href="?genetype=Rice"><span class="badge">13997</span>水稻</a>
<a class="list-group-item" href="?genetype=Rhesusmonkeyhamster"><span class="badge">23085</span>恒河猴</a>
<a class="list-group-item" href="?genetype=Bakersyeast"><span class="badge">5969</span>面包酵母</a>
<a class="list-group-item" href="?genetype=Fissionyeast "><span class="badge">5262</span>裂变酵母</a>
<a class="list-group-item" href="?genetype=Pig"><span class="badge">7244</span>猪</a>
<a class="list-group-item" href="?genetype=Breadwheat"><span class="badge">1990</span>小麦</a>
<a class="list-group-item" href="?genetype=Winegrape"><span class="badge">1009</span>葡萄</a>
<a class="list-group-item" href="?genetype=Westernclawedfrog"><span class="badge">18989</span>西爪蛙</a>
<a class="list-group-item" href="?genetype=Maize"><span class="badge">26431</span>玉米</a>

<a class="list-group-item" href="?genetype=Human"><span class="badge">2543</span>人类</a>
<a class="list-group-item" href="?genetype=Mouse"><span class="badge">1897</span>小鼠</a>
<a class="list-group-item" href="?genetype=Rat"><span class="badge">761</span>大鼠</a>
<a class="list-group-item" href="?genetype=AtArabidopsis"><span class="badge">349</span>拟南芥</a>
<a class="list-group-item" href="?genetype=Celegans"><span class="badge">463</span>秀丽隐杆线虫</a>
<a class="list-group-item" href="?genetype=Fruitfly"><span class="badge">13136</span>果蝇</a>
<a class="list-group-item" href="?genetype=Bovine"><span class="badge">13861</span>牛</a>
<a class="list-group-item" href="?genetype=Dog"><span class="badge">12765</span>狗</a>
<a class="list-group-item" href="?genetype=Chinesehamster"><span class="badge">22085</span>中国仓鼠</a>
<a class="list-group-item" href="?genetype=Goat"><span class="badge">20912</span>山羊</a>
<a class="list-group-item" href="?genetype=Guineapig"><span class="badge">631</span>豚鼠</a>
<a class="list-group-item" href="?genetype=Zebrafish"><span class="badge">21918</span>斑马鱼</a>
<a class="list-group-item" href="?genetype=Horse"><span class="badge">4502</span>马</a>
<a class="list-group-item" href="?genetype=Chicken"><span class="badge">9352</span>鸡</a>
<a class="list-group-item" href="?genetype=Soybean"><span class="badge">8896</span>大豆</a>
<a class="list-group-item" href="?genetype=Nakedmolerat"><span class="badge">19956</span>裸鼹鼠</a>
<a class="list-group-item" href="?genetype=CynomolgusMonkey"><span class="badge">20289</span>食蟹猴 </a>
<a class="list-group-item" href="?genetype=Sheep"><span class="badge">19310</span>绵羊</a>
<a class="list-group-item" href="?genetype=Rabbit"><span class="badge">16424</span>兔子</a>
<a class="list-group-item" href="?genetype=Rice"><span class="badge">13997</span>水稻</a>
<a class="list-group-item" href="?genetype=Rhesusmonkeyhamster"><span class="badge">23085</span>恒河猴</a>
<a class="list-group-item" href="?genetype=Bakersyeast"><span class="badge">5969</span>面包酵母</a>
<a class="list-group-item" href="?genetype=Fissionyeast "><span class="badge">5262</span>裂变酵母</a>
<a class="list-group-item" href="?genetype=Pig"><span class="badge">7244</span>猪</a>
<a class="list-group-item" href="?genetype=Breadwheat"><span class="badge">1990</span>小麦</a>
<a class="list-group-item" href="?genetype=Winegrape"><span class="badge">1009</span>葡萄</a>
<a class="list-group-item" href="?genetype=Westernclawedfrog"><span class="badge">18989</span>西爪蛙</a>
<a class="list-group-item" href="?genetype=Maize"><span class="badge">26431</span>玉米</a>
<a class="list-group-item" href="?genetype=Human"><span class="badge">2543</span>人类</a>
<a class="list-group-item" href="?genetype=Mouse"><span class="badge">1897</span>小鼠</a>
<a class="list-group-item" href="?genetype=Rat"><span class="badge">20345</span>大鼠</a>
<a class="list-group-item" href="?genetype=AtArabidopsis"><span class="badge">27352</span>拟南芥</a>
<a class="list-group-item" href="?genetype=Celegans"><span class="badge">18920</span>秀丽隐杆线虫</a>
<a class="list-group-item" href="?genetype=Fruitfly"><span class="badge">13136</span>果蝇</a>
<a class="list-group-item" href="?genetype=Bovine"><span class="badge">13861</span>牛</a>
<a class="list-group-item" href="?genetype=Dog"><span class="badge">12765</span>狗</a>
<a class="list-group-item" href="?genetype=Chinesehamster"><span class="badge">22085</span>中国仓鼠</a>
<a class="list-group-item" href="?genetype=Goat"><span class="badge">20912</span>山羊</a>
<a class="list-group-item" href="?genetype=Guineapig"><span class="badge">631</span>豚鼠</a>
<a class="list-group-item" href="?genetype=Zebrafish"><span class="badge">21918</span>斑马鱼</a>
<a class="list-group-item" href="?genetype=Horse"><span class="badge">4502</span>马</a>
<a class="list-group-item" href="?genetype=Chicken"><span class="badge">9352</span>鸡</a>
<a class="list-group-item" href="?genetype=Soybean"><span class="badge">8896</span>大豆</a>
<a class="list-group-item" href="?genetype=Nakedmolerat"><span class="badge">19956</span>裸鼹鼠</a>
<a class="list-group-item" href="?genetype=CynomolgusMonkey"><span class="badge">20289</span>食蟹猴 </a>
<a class="list-group-item" href="?genetype=Sheep"><span class="badge">19310</span>绵羊</a>
<a class="list-group-item" href="?genetype=Rabbit"><span class="badge">16424</span>兔子</a>
<a class="list-group-item" href="?genetype=Rice"><span class="badge">13997</span>水稻</a>
<a class="list-group-item" href="?genetype=Rhesusmonkeyhamster"><span class="badge">23085</span>恒河猴</a>
<a class="list-group-item" href="?genetype=Bakersyeast"><span class="badge">5969</span>面包酵母</a>
<a class="list-group-item" href="?genetype=Fissionyeast "><span class="badge">5262</span>裂变酵母</a>
<a class="list-group-item" href="?genetype=Pig"><span class="badge">7244</span>猪</a>
<a class="list-group-item" href="?genetype=Breadwheat"><span class="badge">1990</span>小麦</a>
<a class="list-group-item" href="?genetype=Winegrape"><span class="badge">1009</span>葡萄</a>
<a class="list-group-item" href="?genetype=Westernclawedfrog"><span class="badge">18989</span>西爪蛙</a>
<a class="list-group-item" href="?genetype=Maize"><span class="badge">26431</span>玉米</a>
</div>
</div>

</div>
<div class="col-sm-8 col-md-9">
{% autoescape off %}
{{hots}}
{% endautoescape %}

{% for gene in genes %}
<div class="panel panel-success">

<div class="panel-heading">
 <a title="显示详细信息" href="http://{{local}}/micrornadatabase/{{gene.id}}/">{{gene.genename}}</a>
 </div>
<div class="panel-body">

{% autoescape off %}
{{gene.genedescription}}
{% endautoescape %}

</div>
</div>
{%endfor%}

</div>

</div>

</div>
</div>
 {%endblock%}