{% extends "base.html" %} 
{%block content%}
<title>MicroRNA探针信息检索</title>
 <style>
.product-description,
 {
  float: left;
  width: 550px;
}

.product-description dt,
.product-description dd,{
 margin-bottom: 5px;
}

dd .info{
display:inline;

}

.product-description dt,
.product-description td.heading {
  clear: both;
  float: left;
  font-weight: bold;
  width: 35%;
}
 </style> 
 <script>
$(function(){
	$("#BtnQuery").click(function(){
		var username= $("#InputGene").val();
		if(username==""){
			alert('检索内容不能为空');
			$("#InputGene").focus();
			return false;
}
 })
});
</script>
 <div class="panel panel-info" >
<div class="panel-heading">
        <b>可用探针检索信息工具（截至目前收录物种基因数据记录达436698条）</b>
</div>
<div class="container" style="padding:20px;height:auto;"> 

<form role="form" action="http://{{local}}/microRNAsearch/" method="POST">{% csrf_token %}


<div class="form-group has-success">
  <div class="col-sm-2">
    <select class="form-control">
      <option selected>[Mr]MircoRNA</option>
    </select>
    </div>

    <div class="col-sm-2" >
    <select class="form-control" name="species">
      <option selected value="hsa">[Hs]2543 Human</option>
      <option value="mmu">[Mm]1897 Mouse</option>
      <option value="rno">[Rn]761 Rat</option>
      <option value="ath">[At]349 At Arabidopsis</option>
    <option value="api">[AP]463 Pea aphid</option>
      <option value="dme">[Dm]97 Fruit fly</option>
      <option value="aae">[Aa]124 Yellow fever mosquito</option>
      <option value="ata">[At]137 Monocots</option>
      <option value="aae">[Am]209 American alligator</option>
    <option value="atr">[At]110 Amborella</option>
      <option value="aca">[Ac]421 Green anole</option>
      <option value="ame">[Am]259 Honey bee</option>
      <option value="aly">[Ai]313 Lyrate rockcress</option>
      <option value="asu">[As]188 Pig roundworm</option>
    <option value="abu">[Ab]151  Bony fishes</option>
      <option value="bmo">[Bm]560 Domestic silkworm</option>
      <option value="bta">[Bt]794 Bovine</option>
      <option value="bdi">[Bd]437 Monocots</option>
      <option value="bbe">[Bb]173 Belchers lancelett</option>
    <option value="bfl">[Bf]185 Florida lancelet</option>
      <option value="bra">[Br]127 Field mustard</option>
      <option value="bma">[Bm]108 Agent of lymphatic filariasis</option>
      <option value="cbn">[Cb]152 Nematodes</option>
      <option value="cel">[Ce]432 CLTDOT elegans</option>
    <option value="crm">[Cr]179 Nematodes</option>
      <option value="cgr">[Cj]264 White-tufted-ear marmoset</option>
      <option value="cfa">[Cf]453 Dog</option>
      <option value="cte">[Ct]134 Segmented worms </option>
      <option value="chi">[Ch]430 Goat</option>
      <option value="cpo">[Cp]418 Guinea pig</option>
      <option value="cpi">[Cp]224 Painted turtle</option>
      <option value="cin">[Ci]547 Tunicates</option>
    <option value="cli">[Cl]239 Rock pigeon</option>
      <option value="cgr">[Cg]351 Chinese hamster</option>
      <option value="ccr">[Cc]146 Common carp</option>
      <option value="dre">[Dr]347 Zebrafish</option>
      <option value="dno">[Dn]395 Nine-banded armadillo</option>
    <option value="dps">[Dp]267 Flies</option>
      <option value="dsi">[Ds]179 Flies</option>
      <option value="dvi">[Dv]235 Flies</option>
      <option value="efu">[Ef]424 Big brown bat</option>
      <option value="eca">[Ec]686 House</option>
    <option value="fru">[Fr]107 Torafugu</option>
      <option value="gmo">[Gm]173 Atlantic cod</option>
      <option value="gga">[Gg]1016 Chicken</option>
      <option value="gma">[Gm]485 Soybean</option>
      <option value="ggo">[Gg]357 Western gorilla</option>
    <option value="gra">[Gr]246 Eudicots</option>
      <option value="gsa">[Gs]120 Gyrodactylosis fluke</option>
      <option value="hco">[Hc]192 Barber pole worm</option>
      <option value="hme">[Hm]96 Butterflies</option>
      <option value="ipu">[Ip]204 Channel catfish</option>
    <option value="mml">[Rh]900 Rhesus monkey</option>
      <option value="mse">[Ms]93 Tobacco hornworm</option>
      <option value="mtr">[Mt]426 Barrel medic</option>
      <option value="mze">[Mz]136 Zebra mbuna </option>     
       <option value="nve">[Nv]137 Starlet sea anemone</option>
      <option value="nbe">[Nb]135 Lyretail cichlid</option>
      <option value="nie">[Nl]115 Northern white-cheeked gibbon</option>
      <option value="oha">[Oh]335 King cobra</option>
    <option value="one">[On]135 Nile tilapia</option>
      <option value="oan">[Oa]633 Fruit fly</option>
      <option value="ocu">[Oc]394 Rabbit</option>
      <option value="osa">[Os]553 Rice</option>
      <option value="ola">[Ol]143 Japanese medaka</option>
    <option value="oge">[Og]103 Small-eared galago</option>
      <option value="oar">[Oa]152 Sheep</option>
      <option value="ppy">[Pp]142 Pygmy chimpanzee</option>
      <option value="ptr">[Pt]576 Chimpanzee</option>
      <option value="prd">[Pr]377 Nematodes</option>
    <option value="pma">[Pm]301 Sea lamprey</option>
      <option value="ppt">[Pp]198 Mosses</option>
      <option value="pxy">[Px]126 Diamondback moth</option>
      <option value="ppy">[Pp]136 Bornean orangutan</option>
      <option value="ptc">[Pt]253 Western balsam poplar</option>
    <option value="ppc">[Pp]548 Nematodes</option>
      <option value="ppe">[Pp]155 Peach</option>
      <option value="pal">[Pa]358 Black flying fox</option>
      <option value="pny">[Pn]125 Bony fishes</option>
      <option value="pbv">[Pb]186 Burmese python/option>
    <option value="sko">[Sk]114 Hemichordates</option>
      <option value="ssa">[Ss]478 Atlantic Salmon</option>
      <option value="sma">[Sm]225 Flatworms</option>
      <option value="sme">[Sm]256 Freshwater</option>
     
      <option value="sly">[Sl]109 Tomato</option>
      <option value="stu">[St]244 Potato</option>
      <option value="sbi">[Sb]244 Sorghum</option>
    <option value="str">[Sr]206 Nematodes</option>
      <option value="ssc">[Ss]436 Pig</option>
      <option value="tgu">[Tg]332 Zebra finchg</option>
      <option value="tni">[Tn]109 Spotted green pufferfish</option>
      <option value="tca">[Tc]424 Red flour beetle</option>
    <option value="tae">[Ta]115 Bread wheat</option>
      <option value="tch">[Tc]160 Chinese tree shrew</option>
      <option value="vvi">[Vv]119 Wine grape</option>
      <option value="xla">[Xl]125 Xenopus</option>
      <option value="xtr">[Xt]179 Western clawed frog</option>
    <option value="zma">[Gm]203 Maize</option>
     
    </select>
    </div>
</div>

<div class="form-group has-success">

<div class="col-sm-6">
      <input type="text" class="form-control" id="InputGene" name="search_text" placeholder="输入检索基因symbol">
</div>
<div class="col-sm-2">
<button type="submit" id="BtnQuery" class="btn btn-default">检索探针</button>
</div>
</div>

</form>
<br/>
<hr/>
<div class="row">
<div class="col-sm-4 col-md-3">

<div class="panel panel-success">

<div class="panel-heading">
    物种类别
    </div>
 
<div class="list-group">

<a class="list-group-item" href="?genetype=hsa"><span class="badge">2543</span>[Hs]人类</a>
<a class="list-group-item" href="?genetype=mmu"><span class="badge">1897</span>[Mm]小鼠</a>
<a class="list-group-item" href="?genetype=rno"><span class="badge">761</span>[Rn]大鼠</a>
<a class="list-group-item" href="?genetype=ath"><span class="badge">349</span>[At]拟南芥</a>
<a class="list-group-item" href="?genetype=api"><span class="badge">463</span>[Ce]秀丽隐杆线虫</a>
<a class="list-group-item" href="?genetype=dme"><span class="badge">97</span>[Dm]果蝇</a>
<a class="list-group-item" href="?genetype=aae"><span class="badge">124</span>[Aa]黄热病蚊子</a>
<a class="list-group-item" href="?genetype=ata"><span class="badge">137</span>[Ab]骨头鱼</a>
<a class="list-group-item" href="?genetype=aae"><span class="badge">209</span>[Ac]美洲短吻鳄</a>
<a class="list-group-item" href="?genetype=atr"><span class="badge">110</span>[Al]无油樟</a>
<a class="list-group-item" href="?genetype=aca"><span class="badge">421</span>[Am]绿檀香</a>
<a class="list-group-item" href="?genetype=ame"><span class="badge">259</span>[Am]蜜蜂</a>
<a class="list-group-item" href="?genetype=aly"><span class="badge">313</span>[Ap]豌豆蚜</a>
<a class="list-group-item" href="?genetype=asu"><span class="badge">188</span>[As]猪round虫</a>
<a class="list-group-item" href="?genetype=abu"><span class="badge">896</span>[At]Amborella</a>
<a class="list-group-item" href="?genetype=bmo"><span class="badge">156</span>[At]单子叶植物</a>
<a class="list-group-item" href="?genetype=bdi"><span class="badge">289</span>[Bb]贝尔彻长矛</a>
<a class="list-group-item" href="?genetype=bbe"><span class="badge">310</span>[Bd]单子叶植物</a>
<a class="list-group-item" href="?genetype=bfl"><span class="badge">424</span>[Bf]佛罗里达长矛</a>

<a class="list-group-item" href="?genetype=bra"><span class="badge">424</span>[Bm]家蚕</a>
<a class="list-group-item" href="?genetype=bma"><span class="badge">997</span>[Br]芥菜</a>
<a class="list-group-item" href="?genetype=cbn"><span class="badge">285</span>[Bm]牛</a>
<a class="list-group-item" href="?genetype=cel"><span class="badge">569</span>[Cb]线虫</a>
<a class="list-group-item" href="?genetype=crm"><span class="badge">562</span>[Cb]线虫</a>
<a class="list-group-item" href="?genetype=cgr"><span class="badge">744</span>[Cc]鲤鱼</a>
<a class="list-group-item" href="?genetype=cfa"><span class="badge">190</span>[C]狗</a>
<a class="list-group-item" href="?genetype=cte"><span class="badge">109</span>[Cg]中国仓鼠</a>
<a class="list-group-item" href="?genetype=chi"><span class="badge">189</span>[Ch]山羊</a>
<a class="list-group-item" href="?genetype=cpo"><span class="badge">231</span>[Ci]Tunicates</a>
<a class="list-group-item" href="?genetype=cpi"><span class="badge">243</span>[Cj]白簇绒耳mar猴</a>
<a class="list-group-item" href="?genetype=cin"><span class="badge">197</span>[Cl]鸽子</a>
<a class="list-group-item" href="?genetype=cli"><span class="badge">245</span>[Cp]豚鼠</a>
<a class="list-group-item" href="?genetype=cgr"><span class="badge">252</span>[Cp]彩绘的乌龟</a>
<a class="list-group-item" href="?genetype=ccr"><span class="badge">120</span>[Cr]线虫</a>
<a class="list-group-item" href="?genetype=dre"><span class="badge">136</span>[Ct]分段蠕虫</a>
<a class="list-group-item" href="?genetype=dno"><span class="badge">161</span>[Dn]九带犰狳</a>
<a class="list-group-item" href="?genetype=dps"><span class="badge">165</span>[Dp]苍蝇</a>
<a class="list-group-item" href="?genetype=dsi"><span class="badge">225</span>[Dr]斑马鱼</a>
<a class="list-group-item" href="?genetype=dvi"><span class="badge">212</span>[Ds]苍蝇</a>
<a class="list-group-item" href="?genetype=efu"><span class="badge">212</span>[Dv]苍蝇</a>
<a class="list-group-item" href="?genetype=eca"><span class="badge">631</span>[Ec]马</a>

<a class="list-group-item" href="?genetype=fru"><span class="badge">402</span>[Ef]大棕蝙蝠</a>
<a class="list-group-item" href="?genetype=gmo"><span class="badge">952</span>[Fr]Torafugu</a>
<a class="list-group-item" href="?genetype=gga"><span class="badge">896</span>[Gg]鸡</a>
<a class="list-group-item" href="?genetype=gma"><span class="badge">196</span>[Gg]西洋大猩猩</a>
<a class="list-group-item" href="?genetype=ggo"><span class="badge">289</span>[Gm]大西洋鳕鱼</a>
<a class="list-group-item" href="?genetype=gra"><span class="badge">110</span>[Gm]大豆</a>
<a class="list-group-item" href="?genetype=gsa"><span class="badge">124</span>[Gr]杜鹃</a>
<a class="list-group-item" href="?genetype=hco"><span class="badge">137</span>[Gs]乳突病吸虫</a>
<a class="list-group-item" href="?genetype=hme"><span class="badge">285</span>[Hc]理发杆蠕虫</a>
<a class="list-group-item" href="?genetype=ipu"><span class="badge">599</span>[Hm]蝴蝶</a>
<a class="list-group-item" href="?genetype=mml"><span class="badge">562</span>[Ip]Channel鱼</a>
<a class="list-group-item" href="?genetype=mse"><span class="badge">744</span>[Md]灰色短尾负鼠</a>
<a class="list-group-item" href="?genetype=mtr"><span class="badge">190</span>[Ms]烟草天蛾</a>
<a class="list-group-item" href="?genetype=mze"><span class="badge">109</span>[Mt]军医</a>
<a class="list-group-item" href="?genetype=nve"><span class="badge">189</span>[Mz]Zebra mbuna</a>
<a class="list-group-item" href="?genetype=nbe"><span class="badge">431</span>[Nb]Lyretail丽鱼科鱼</a>

<a class="list-group-item" href="?genetype=nie"><span class="badge">243</span>[Nl]北部白颊长臂猿</a>
<a class="list-group-item" href="?genetype=oha"><span class="badge">187</span>[Nv]明星海葵</a>
<a class="list-group-item" href="?genetype=one"><span class="badge">761</span>[Oa]鸭嘴兽</a>
<a class="list-group-item" href="?genetype=oan"><span class="badge">349</span>[Oa]羊</a>
<a class="list-group-item" href="?genetype=ocu"><span class="badge">463</span>[Oc]兔子</a>
<a class="list-group-item" href="?genetype=osa"><span class="badge">136</span>[Og]加拉戈小耳</a>
<a class="list-group-item" href="?genetype=ola"><span class="badge">161</span>[Oh]眼镜王蛇</a>
<a class="list-group-item" href="?genetype=oge"><span class="badge">165</span>[Ol]日本medaka</a>
<a class="list-group-item" href="?genetype=oar"><span class="badge">285</span>[On]尼罗罗非鱼</a>
<a class="list-group-item" href="?genetype=ppy"><span class="badge">202</span>[Os]大米</a>
<a class="list-group-item" href="?genetype=ptr"><span class="badge">631</span>[Pa]黑狐狸</a>
<a class="list-group-item" href="?genetype=prd"><span class="badge">298</span>[Pb]缅甸巨蟒</a>
<a class="list-group-item" href="?genetype=pma"><span class="badge">402</span>[Pm]海lamp</a>
<a class="list-group-item" href="?genetype=ppt"><span class="badge">952</span>[Pn]骨鱼</a>
<a class="list-group-item" href="?genetype=pxy"><span class="badge">896</span>[Pp]婆罗洲猩猩</a>
<a class="list-group-item" href="?genetype=ppy"><span class="badge">156</span>[Pp]苔藓</a>
<a class="list-group-item" href="?genetype=ptc"><span class="badge">209</span>[Pp]线虫</a>
<a class="list-group-item" href="?genetype=ppc"><span class="badge">190</span>[Pp]桃子</a>
<a class="list-group-item" href="?genetype=ppe"><span class="badge">190</span>[Pp]侏儒黑猩猩</a>
<a class="list-group-item" href="?genetype=pal"><span class="badge">164</span>[Pt]西部苦瓜杨</a>
<a class="list-group-item" href="?genetype=pny"><span class="badge">197</span>[Px]小菜蛾</a>
<a class="list-group-item" href="?genetype=pbv"><span class="badge">235</span>[Rh]恒河猴</a>
<a class="list-group-item" href="?genetype=sko"><span class="badge">599</span>[Sb]高粱</a>
<a class="list-group-item" href="?genetype=ssa"><span class="badge">562</span>[Sk]半hor</a>
<a class="list-group-item" href="?genetype=sma"><span class="badge">724</span>[Sl]番茄</a>
<a class="list-group-item" href="?genetype=sme"><span class="badge">190</span>[Sm]扁虫</a>
<a class="list-group-item" href="?genetype=sly"><span class="badge">100</span>[Sm]淡水刨</a>
<a class="list-group-item" href="?genetype=stu"><span class="badge">189</span>[Sr]线虫</a>
<a class="list-group-item" href="?genetype=sbi"><span class="badge">231</span>[Ss]大西洋鲑鱼</a>
<a class="list-group-item" href="?genetype=str"><span class="badge">253</span>[Ss]猪</a>
<a class="list-group-item" href="?genetype=ssc"><span class="badge">197</span>[St]土豆</a>
<a class="list-group-item" href="?genetype=tgu"><span class="badge">205</span>[Ta]面包小麦</a>
<a class="list-group-item" href="?genetype=tni"><span class="badge">252</span>[Tc]中国树sh</a>
<a class="list-group-item" href="?genetype=tca"><span class="badge">120</span>[Tc]红粉甲虫</a>
<a class="list-group-item" href="?genetype=tae"><span class="badge">136</span>[Tg]斑马雀科</a>
<a class="list-group-item" href="?genetype=tch"><span class="badge">161</span>[Tn]斑绿色河豚</a>
<a class="list-group-item" href="?genetype=vvi"><span class="badge">165</span>[Vv]酿酒葡萄</a>
<a class="list-group-item" href="?genetype=xla"><span class="badge">285</span>[Xl]非洲爪蟾</a>
<a class="list-group-item" href="?genetype=xtr"><span class="badge">202</span>[Xt]西爪蛙</a>
<a class="list-group-item" href="?genetype=zma"><span class="badge">202</span>[Zm]玉米</a>

</div>
</div>

</div>
<div class="col-sm-7 col-md-8">


{% for gene in genes %}
<div class="panel panel-success">

<div class="panel-heading">
 <a title="显示详细信息" href="http://{{local}}/micrornadatabase/{{gene.id}}/">{{gene.genename}}</a>
 </div>
<div class="panel-body">

{% autoescape off %}
{{gene.genedescription}}
{% endautoescape %}

</div>
</div>
{%endfor%}

</div>

</div>

</div>
</div>
 {%endblock%}