{% extends "base.html" %} 
 {% block content %}
 <title>从GenBank文件中解析</title>

<div class="panel panel-success">
<div class="panel-heading">
        <b>选取本地<em>Genbank</em>或者<em>Fasta</em>文件开始探针设计[本地文件小于2Kb推荐]</b>
</div>
    <div class="panel body" style="height:100px; padding-top:50px;">
<form action="http://{{ local }}/xmltoentrez/" method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
<div class="col-sm-10">
<input class="form-control" type="file" name="file" accept=".gb,.fasta" >
</div>
<div class="col-sm-2">
<button class="btn-primary btn" type="submit">解析文件</button>
</div>    
</form>
</div>
</div>
<div class="panel panel-info">
<div class="panel-heading">
        <b>读取Entrez远程<em>Genbank</em>或者<em>Fasta</em>文件开始探针设计[适用于大于2Kb序列文件]</b>
</div>
    <div class="panel body" style="height:100px; padding-top:50px;">
<form action="http://{{ local }}/seqidtoentrez/" method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
<div class="col-sm-4">
<input class="form-control" type="text" name="seqid" placeholder="输入NCBI的Accession ID">
</div>
<div class="col-sm-2">
<label for="start" >起始位点</label>
</div>
<div class="col-sm-1">
<input class="form-control" type="text" name="start" value=1 placeholder="默认从1开始">
</div>
<div class="col-sm-2">
<label for="start" >截止终点</label>
</div>
<div class="col-sm-1">
<input class="form-control" type="text" name="end" value=2048 placeholder="默认从1开始">
</div>
<div class="col-sm-2">
<button class="btn-primary btn" type="submit">读取文件</button>
</div>    
</form>
</div>
</div>
<!-- /#mainWrap -->
 {% endblock %}