{% extends "base.html" %} 
 {% block content %}
 <title>预定QuantiMAT TM RNA检测试剂盒</title>
<style>
table{table-layout:fixed;}
td{word-break:break-all;word-wrap:break-word;overflow:hidden;text-align:left;}
</style>
<div class="panel panel-info" style="margin-top:20px;height:auto;">
<div class="panel-heading">
        <b>QuantiMAT TM RNA检测试剂盒预定产品信息</b>
</div>
<!-- 图片在右边显示-->
 <div class="row">
    <div class="col-sm-12 col-md-6">
         <div class="thumbnail">
            <img src="http://www.probedesigner.cn/static/images/QM1024.jpg" 
             alt="通用的占位符缩略图">
            <div class="caption">
                <h3>价格：￥48000</h3>
                <p>货号：QM192</p>
                <p>货期：1周</p>
                <p>运输：干冰+冷链</p>
                <p>质保期：12个月</p>
                <p>规格：192测试</p>
                 <p>检测探针：192rnx</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones"></span> 
                        预订产品
                    </a> 
                   <a href="#" class="btn btn-default" role="button"> <span class="glyphicon glyphicon-shopping-cart"></span>
                        加入购物车
                    </a>
                </p>
            </div>
         </div>
    </div>
    <div class="col-sm-12 col-md-6">
         <div class="thumbnail">
            <img src="http://www.probedesigner.cn/static/images/QM1048.jpg" 
             alt="通用的占位符缩略图">
            <div class="caption">
                <h3>价格：￥180000</h3>
                <p>货号：QM960</p>
                <p>货期：1周</p>
                <p>运输：干冰+冷链</p>
                <p>质保期：12个月</p>
                <p>规格：960测试</p>
                <p>检测探针：960rnx</p>
                <p>
                   <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones"></span> 
                        预订产品
                    </a> 
                   <a href="#" class="btn btn-default" role="button"> <span class="glyphicon glyphicon-shopping-cart"></span>
                        加入购物车
                    </a>
                </p>
            </div>
         </div>
    </div>
   </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="thumbnail">
            <img src="http://www.probedesigner.cn/static/images/QM1096.jpg" 
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>价格：￥700000</h3>
                <p>货号：QM4800</p>
                <p>货期：4周</p>
                <p>运输：干冰+冷链</p>
                <p>质保期：12个月</p>
                <p>规格：4800测试</p>
                <p>检测探针：4800rnx</p>
                <p>
                     <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones"></span> 
                        预订产品
                    </a> 
                   <a href="#" class="btn btn-default" role="button"> <span class="glyphicon glyphicon-shopping-cart"></span>
                        加入购物车
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="thumbnail">
            <img src="http://www.probedesigner.cn/static/images/QM10480.jpg" 
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>价格：￥1300000</h3>
                <p>货号：QM9600</p>
                <p>货期：8周</p>
                <p>运输：干冰+冷链</p>
                <p>质保期：12个月</p>
                <p>规格：9600测试</p>
                <p>检测探针：9600rnx</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones"></span> 
                        预订产品
                    </a> 
                   <a href="#" class="btn btn-default" role="button"> <span class="glyphicon glyphicon-shopping-cart"></span>
                        加入购物车
                    </a>
                </p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
   <div class="col-sm-12 col-md-6">
        <div class="thumbnail">
            <img src="http://www.probedesigner.cn/static/images/QM10480.jpg" 
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>价格：面谈</h3>
                <p>货号：custom</p>
                <p>货期：>8周</p>
                <p>运输：干冰+冷链</p>
                <p>质保期：12个月</p>
                <p>规格：>9600测试</p>
                <p>检测探针：>9600rnx</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones"></span> 
                        预订产品
                    </a> 
                   <a href="#" class="btn btn-default" role="button"> <span class="glyphicon glyphicon-shopping-cart"></span>
                        加入购物车
                    </a>
                </p>
            </div>
        </div>
    </div>
  </div>
    
  </div>
</div>
<br>
{% endblock %}