{% extends "base.html" %} 
 {% block content %}
 <title>CE和LE探针的NSH结果</title>
<style></style>
 <div class="container">
  <div class="well">
  <div class="container">
  <div class="row">
     <div class="col-sm-2">
     <h4><em>CE&LE序列的NSH</em></h4>
     </div>
      <div class="col-sm-10">
<table class="table">
  <thead>
    <tr>
    {% for lep in LE_plist %}
      <th>{{lep.0}}</th>
     {% endfor %}
    </tr>
  </thead>
</table>
      </div>  
   </div>
   <div class="row">
      <div class="col-sm-2">
 <table class="table">
  <tbody>
   {% for cep in CE_plist %}
    <tr>
      <td>{{cep.0}}</th>
    </tr>
   {% endfor %}
  </tbody>
</table>
      </div>
      <div class="col-sm-10">
      <table class="table">
      <tbody>
 {% for clsl in CEtoLE_score_list %}
      <tr>
      {% for score in clsl.1%}
      {% if score > 26 %}
      <th><font color="red">{{score}}</font></th>
      {%else%}
      <th>{{score}}</th>
      {%endif%}
      {%endfor%}
      </tr>
 {%endfor%}
      </tbody>
      </table>
      </div>      
   </div>
</div>
    
  </tbody>
</table>
 </div>
  <!-- /#mainWrap -->
{% endblock %}