{% extends "base.html" %} 
 {% block content %}
 <title>NonNSHFilter结果</title>
 <div class="container">
 <div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">
            引物索引
        </h4>
    </a> 
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
            {{s}}
        </h4>
        <p class="list-group-item-text">
            {{probedict}}
        </p>
    </a>

</div></div>
 <!-- /#mainWrap -->
{% endblock %}