{% extends "base.html" %} 
 {% block content %}
 <title>CE和LE探针的NSH结果</title>
<style></style>
 <div class="container">
 <form role="form" method="PSOT" class="form-horizontal" >{% csrf_token %}
  <div class="well">
  <div class="container">
  <div class="row">
     <div class="col-sm-2">
     <h4><em>CE&LE序列的NSH</em></h4>
     </div>
      <div class="col-sm-10">
<table class="table">
  <thead>
    <tr>
    {% for lep in LE_plist %}
      <th>{{lep.0}}</th>
     {% endfor %}
    </tr>
  </thead>
</table>
      </div>  
   </div>
   <div class="row">
      <div class="col-sm-2">
 <table class="table">
  <tbody>
   {% for cep in CE_plist %}
    <tr>
      <td><b>{{cep.0}}</b></th>
    </tr>
   {% endfor %}
  </tbody>
</table>
      </div>
      <div class="col-sm-10">
      <table class="table">
      <tbody>
 {% for clsl in CEtoLE_score_list %}
      <tr>
      {% for score in clsl.1%}
      {% if score > 26 %}
      <th><font color="red">{{score}}</font></th>
      {%else%}
      <th>{{score}}</th>
      {%endif%}
      {%endfor%}
      </tr>
 {%endfor%}
      </tbody>
      </table>
      </div>      
   </div>
</div>
    
  </tbody>
</table>
 </div>
 </form>
 <div class="well">
 <div class="container">
 <div class="row">
  <div class="col-sm-2">
  CE探针编号
  </div>
   <div class="col-sm-10">
   探针序列
 </div>
  </div>
  {%for ce in CE_plist%}
  <div class="row">
  <div class="col-sm-2">
 <input type="text" style="width:30%" class="form control" readonly="readonly" value="{{ce.0}}">
 </div> <div class="col-sm-10">
  <input type="text" style="width:70%" class="form control" readonly="readonly" value="{{ce.1}}">
  </div>
  </div>
  {%endfor%}
  </div>
  <div class="well">
 <div class="container">
 <div class="row">
  <div class="col-sm-2">
  CE探针编号
  </div>
   <div class="col-sm-10">
   探针序列
 </div>
  </div>
  {%for le in LE_plist%}
  <div class="row">
  <div class="col-sm-2">
 <input type="text" style="width:30%" class="form control" readonly="readonly" value="{{le.0}}">
 </div> <div class="col-sm-10">
  <input type="text" style="width:70%" class="form control" readonly="readonly" value="{{le.1}}">
  </div>
  </div>
  {%endfor%}
  </div>
  <div class="well">
 <div class="container">
 <div class="row">
  <div class="col-sm-2">
  CE探针编号
  </div>
   <div class="col-sm-10">
   探针序列
 </div>
  </div>
  {%for bl in BL_plist%}
  <div class="row">
  <div class="col-sm-2">
 <input type="text" style="width:30%" class="form control" readonly="readonly" value="{{bl.0}}">
 </div> <div class="col-sm-10">
  <input type="text" style="width:70%" class="form control" readonly="readonly" value="{{bl.1}}">
  </div>
  </div>
  {%endfor%}
  </div>
 </div>
 </div>
  <!-- /#mainWrap -->
{% endblock %}