{% extends "base.html" %} 
 {% block content %}
 <title>NonNSHFilter结果</title>
 <div class="container">
 <form action="" method="POST" role="form" class="form-horizontal" >
 <div class="list-group">
    <a href="#" class="list-group-item active">
         <span class="badge">
            引物编号
        </span>
        <h4 class="list-group-item-heading">
            可用的引物索引列表
        </h4>
    </a> 
 {% for key,value in probedict.items %}
    <a href="#" class="list-group-item">
    <span class="badge">
    {{key}}
    </span>
      <input type="text" class="form-control" id="inputPassword" value="{{value}}" name="{{key}}">
    </a>
{% endfor %}
</div>
</form>
</div>
 <!-- /#mainWrap -->
{% endblock %}