{% extends "base.html" %} 
 {% block content %}
 <title>X4merCalculate结果</title>
 <div class="container">
 {{probe_xmer_dict}}
 <div class="well">
<form>
<table class="table table-condensed">
  <caption>探针X4mer计算结果</caption>
  <thead>
    <tr>
      <th>探针编号</th>
      <th>作为CE的x4mer值</th>
      <th>作为LE的x4mer值</th></tr>
  </thead>
  <tbody>
  {% for key,value in probe_xmer_dict.items %}
    <tr>
      <td>{{key}}</td>

      <td>{{value}}</td>
      <td>{{value}}</td>

      </tr>
    <tr>
   {%endfor%}
  </tbody>
</table>

</form>
 </div>
 </div>
  <!-- /#mainWrap -->
{% endblock %}