{% extends "base.html" %} 
 {% block content %}
 <title> 可用的引物索引列表非特异性过滤的结果</title>
 <div class="container">
 <div class="accordion-group">
<div class="accordion-heading list-group">
<h4><a class="accordion-toggle list-group-item active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" style="display:block;">
第一种设计方案（高特异性&高灵敏度）<span class="badge">展开</span></a></h4>
            </div>
            <div id="collapseOne" class="accordion-body collapse" style="height: 10px; ">
                <div class="accordion-inner">
 
 <form action="http://{{local}}/PostCalcXmer/" method="POST" role="form" class="form-horizontal" >{% csrf_token %}
 <div class="list-group">
    <a href="#" class="list-group-item info">
         <span class="badge">
            引物编号
        </span>
        <h4 class="list-group-item-heading">
            可用的引物索引列表
        </h4>
    </a> 
 {% for key,value in probedict.items %}
    <a class="list-group-item">
    <span class="badge pull-right">
    {{key}}
    </span>
      <input type="text" readonly="readonly" style="width:50%" class="form control" value="{{value.0}}" name="probedictvalue">
      <input type="hidden" readonly="readonly" style="width:20%" class="form control" value="{{key}}" name="probedictkey">
      <input type="hidden" readonly="readonly" style="width:20%" class="form control" value="{{value.1}}" name="probelength">
    </a>
{% endfor %}
</div>
<button type="submit" class="btn btn-primary" style="text-shadow: black 5px 3px 3px;"><span class="glyphicon glyphicon-step-forward"></span>与通用序列计算Xmer值</button>
</form>


</div>
            </div>
        </div>


<div class="accordion-group">
<div class="accordion-heading list-group">
<h4><a class="accordion-toggle list-group-item active" data-toggle="collapse" data-parent="#accordion2" href="#collapse2" style="display:block;">
第二种设计方案（高特异性）<span class="badge">展开</span></a></h4>
            </div>
            <div id="collapse2" class="accordion-body collapse" style="height: 10px; ">
                <div class="accordion-inner">
 
 <form action="http://{{local}}/PostCalcXmer/" method="POST" role="form" class="form-horizontal" >{% csrf_token %}
 <div class="list-group">
    <a href="#" class="list-group-item info">
         <span class="badge">
            引物编号
        </span>
        <h4 class="list-group-item-heading">
            可用的引物索引列表
        </h4>
    </a> 
 {% for key,value in probedict.items %}
    <a class="list-group-item">
    <span class="badge pull-right">
    {{key}}
    </span>
      <input type="text" readonly="readonly" style="width:50%" class="form control" value="{{value.0}}" name="probedictvalue">
      <input type="hidden" readonly="readonly" style="width:20%" class="form control" value="{{key}}" name="probedictkey">
      <input type="hidden" readonly="readonly" style="width:20%" class="form control" value="{{value.1}}" name="probelength">
    </a>
{% endfor %}
</div>
<button type="submit" class="btn btn-primary" style="text-shadow: black 5px 3px 3px;"><span class="glyphicon glyphicon-step-forward"></span>与通用序列计算Xmer值</button>
</form>


</div>
            </div>
        </div>



<div class="accordion-group">
<div class="accordion-heading list-group">
<h4><a class="accordion-toggle list-group-item active" data-toggle="collapse" data-parent="#accordion2" href="#collapse3" style="display:block;">
第三种设计方案（高灵敏度）<span class="badge">展开</span></a></h4>
            </div>
            <div id="collapse3" class="accordion-body collapse" style="height: 10px; ">
                <div class="accordion-inner">
 
 <form action="http://{{local}}/PostCalcXmer/" method="POST" role="form" class="form-horizontal" >{% csrf_token %}
 <div class="list-group">
    <a href="#" class="list-group-item info">
         <span class="badge">
            引物编号
        </span>
        <h4 class="list-group-item-heading">
            可用的引物索引列表
        </h4>
    </a> 
 {% for key,value in probedict.items %}
    <a class="list-group-item">
    <span class="badge pull-right">
    {{key}}
    </span>
      <input type="text" readonly="readonly" style="width:50%" class="form control" value="{{value.0}}" name="probedictvalue">
      <input type="hidden" readonly="readonly" style="width:20%" class="form control" value="{{key}}" name="probedictkey">
      <input type="hidden" readonly="readonly" style="width:20%" class="form control" value="{{value.1}}" name="probelength">
    </a>
{% endfor %}
</div>
<button type="submit" class="btn btn-primary" style="text-shadow: black 5px 3px 3px;"><span class="glyphicon glyphicon-step-forward"></span>与通用序列计算Xmer值</button>
</form>


</div>
            </div>
        </div>

</div>
 <!-- /#mainWrap -->
{% endblock %}