{% extends "base.html" %} 
 {% block content %}
 <title>从这里开始设计</title>
<style>
div{table-layout:fixed;}
div{word-break:break-all;word-wrap:break-word;overflow:hidden;text-align:left;}
</style>
<form action="" method="POST" role="form">
<div class="list-group">
 <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">
            待设计序列描述
        </h4>
    </a>
<div class="well well-sm">
{{description}}
</div></div>
<div class="list-group">
 <a href="#" class="list-group-item active">
 <h4 class="list-group-item-heading">
  待设计序列全部基因序列
 </h4></a>
<div class="well well-lg">
<textarea class="form-control" row="8">{{sequence}}</textarea>
</div></div>
<button type="submit" class="btn btn-primary" style="text-shadow: black 5px 3px 3px;"><span class="glyphicon glyphicon-user"></span>开始设计</button>
</form>
<!-- /#mainWrap -->
{% endblock %}