{% extends "base.html" %} 
 {% block content %}
 <title>Probedesigner软件更新日志2017</title>

<div class="container">
 <div class="panel panel-primary">
    <div class="panel-heading">
        <b><em>QuantiMAT 2.0</em>工作原理动态示意图</b>
    </div>
    <div class="panel-body">
<p>
################################################# 版本更新说明#################################################
###################################2017-11-10 更新说明########################################################
"""
修改Nonnshfilter方法，将引物就地互补调转方向，计算出的X4mer值有较大差异。
修改Genearateprobe方法，将引物的互补调转5‘--3’方向取消，前置到nonnshfilter进行。
"""
###################################2017-11-7 更新说明########################################################
###################################修改Generateprobe方法，使探针引物原地进行互补调转5‘--3’方向#####################
###################################2017-11-01 更新说明#######################################################
###################################修改产品版本号，有3版本默认，修改为1版本默认，实际上1版本要高于3版本################
###################################2017-10-26 更新说明######################################################
'''
数据传递修改为从body传递，同时增加可以选择NCBI的sequence的from位点和结束位点。方便对序列的区域选择操作。
'''
######################################2017-10-22 更新说明####################################################
'''
从fromfile方法开始，增加在线读取Entrez数据库的accession ID的功能，但是sae的服务器header信息太小，考虑更换数据传递方式

'''
##############################################注释分界线#######################################################


</p>
</div>
</div>
</div>
<!-- /#mainWrap -->
 {% endblock %}