{% extends "user_base.html" %} 
 {% block userdefine %}
 <title>管理我的博客</title>
 <style>
#listblog{margin-top:10px;}
#listblog table{}
#listblog tr td{border:1px solid #66cc33;}
#listblog table .center{text-align:center;width:80px;font-size:14px;}
#listblog table .title{width:680px;font-size:14px;}
#listblog table a{color:#000;margin-right:20px; background:none;}
#listblog table a:hover{ background:#66cc33;outline: thin solid #6633cc;}
#listblog table a:active{color:#ff0000;} 
#listblog table a:link{ color::#453; }
#listblog .th td{width:160px;text-indent:2em}
#listblog .th{ background:#66cc33; font-weight:bold; border-top:1px;font-size:14px;}
#listblog .clear{clear:both;}
#listblog .block{font-size:13px;}
 </style>
<script type="text/javascript">
$(document).ready(function() {
	var ltype=getQueryString('listtype');
	if(ltype=='recycle'){
		$("#privatebtn").hide();
		$("#publicbtn").show();	
		$("#showprivate").hide();
		$("#showpublic").show();
	}else{
		$("#publicbtn").hide();
		$("#privatebtn").show();
		$("#showprivate").show();
		$("#showpublic").hide();
	}
	$("input#checkall").click(function(){
		//var flag=$(this).attr("checked");
		//alert(flag);
		if($(this).attr("checked") == "checked") { // 全选 
			$("input[name='checkid']").each(function(){
				$(this).attr("checked",true);
			});	
		}else{  //取消全选
			$("input[name='checkid']").each(function(){ 
				$(this).attr("checked", false); 
			}); 
		}
	});
});
</script>
<script type="text/javascript">
function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]); return null;
}
</script>
            <div class="clr orderNumberBar">
				<div class="fll">管理我的博客</div>
			</div>
 <div id="listblog">
 <a id="showprivate" class="block" href="?listtype=recycle">显示私密博客</a>&nbsp;&nbsp;&nbsp; <a id="showpublic" class="block" href="?listtype=all">显示公开博客</a>
<form name="updateblogform" action="http://{{ localip }}/MyBlog/updateblog/" method="get">
<table>
<tr class="th">
 <td>编号</td>
 <td>文章标题</td>
 <td>发布日期</td>
 <td>删除文章</td>
 <td>全选<input name="checkall" id="checkall" type="checkbox" /></td>
 </tr>
{% for mpost in mposts %}
 <tr>
 <td class="center">{{ mpost.id }}</td>
 <td class="title"><a title="点击开始编辑内容" href="http://{{ localip }}/MyBlog/edit/{{ mpost.id }}/">{{ mpost.title }}</a></td>
 <td class="center">{{ mpost.timestamp|date:"Y-n-d"  }}</td>
 <td class="center">
 <button  type="button" class="btn btn-primary btn-xs" onclick="location='http://{{ localip }}/MyBlog/delete/?id={{ mpost.id }}'">删除</button>
 </td>
 <td class="center"><input value="{{ mpost.id }}" name="checkid"  id=”checkid_{{ mpost.id }}″ type="checkbox" /></td>
 </tr>
 
{% endfor %}
 </table>
   {% if is_paginated %}
                    {% ifequal current_page 1 %}<button  type="button" class="btn btn-default btn-xs" >首页 </button>
                    {% else %} <button  type="button" class="btn btn-primary btn-xs" onclick="location='?listtype={{ type }}&p=1'">首页</button>
                    {% endifequal %}
                    {% if has_previous %} <button  type="button" class="btn btn-primary btn-xs" onclick="location='?listtype={{ type }}&p={{ previous_page }}'"><</button>
                    {% else %} 
                    {% endif %}
                    {% for p in page_numbers %}
                    {% ifequal current_page p %}
                        <button  type="button" class="btn btn-default btn-xs" >{{ current_page }}</button>   
                    {% else %}
                        <button  type="button" class="btn btn-primary btn-xs" onclick="location='?listtype={{ type }}&p={{ p }}'">{{ p }}</button>  
                    {% endifequal %}
                    {% endfor %}                    
                    {% if has_next %}<button  type="button" class="btn btn-primary btn-xs" onclick="location='?listtype={{ type }}&p={{ next_page }}'">></button>
                    {% else %}
                    {% endif %}
                    {% ifequal current_page pages %}<button  type="button" class="btn btn-default btn-xs" >末页 </button>
                    {% else %} <button  type="button" class="btn btn-primary btn-xs" onclick="location='?listtype={{ type }}&p={{ pages }}'">末页</button>
                    {% endifequal %}
                    
                页{{ current_page }}/共{{ pages }}页
                        共{{ hits }}篇
     {% endif %}   
 <button id="privatebtn" type="submit" class="btn btn-primary  btn-xs" >设为私密博客</button>
  <button id="publicbtn" type="submit" class="btn btn-primary  btn-xs" >设为公开博客</button>
  </form>
 </div>
 {% endblock %}