{% extends "base.html" %} 
 {% block content %}
 <link type="text/css" href="/site_medias/css/style.css"rel="stylesheet">
 <link rel="stylesheet" href="/site_medias/css/bootstrap-table-expandable.css">
<script type="text/javascript" src='/site_medias/js/usermenu.js'></script>
<script type="text/javascript" src='/site_medias/js/userinfo.js'></script>
<script type="text/javascript" src="/site_medias/js/bootstrap-table-expandable.js"></script>
</head>
<body>
 <div class="usrMenu fll">
	<h5>我的菜单</h5>
	<dl class="usrMenuItem">
		<dt>我的探针</dt>
		<dd>
			<a href='http://{{localip}}/MyBlog/oligo/' class="usrMenuLink">探针设计</a>
			<a href='http://{{localip}}/MyBlog/showoligo/' class="usrMenuLink">我的bDNA探针序列</a>
			<a href='http://{{localip}}/Entrez/' class="usrMenuLink">下载Entrez文件</a>
		</dd>
	</dl>
	<dl class="usrMenuItem">
		<dt>我的文章</dt>
		<dd>
			<a href='http://{{localip}}/MyBlog/addblog/' class="usrMenuLink">发表文章</a>
			<a href='http://{{localip}}/MyBlog/manageblog/?listtype=all' class="usrMenuLink">管理文章</a>
			<a href='http://{{localip}}/MyBlog/myreplys/' class="usrMenuLink">我的回复</a>
		</dd>
	</dl>
	<dl class="usrMenuItem">
		<dt>账户管理</dt>
		<dd>
			<a href='http://{{localip}}/MyBlog/userinfo/' class="usrMenuLink">个人资料</a>
			<a href='http://{{localip}}/MyBlog/myphoto/?listtype=all' class="usrMenuLink">我上传的图片</a>
			<a href='http://{{localip}}/MyBlog/to_reset_pwd/' class="usrMenuLink">修改密码</a>
		</dd>
	</dl>
</div>
	    <div class="usrMain">
 {% block userdefine %}
 <!-- 此处为模板引用位置 -->
 {% endblock %}
</div>
</body>
 {% endblock %}